<!DOCTYPE html>
<html>
<head>
<include file="../sz/view/adminhead.html"/>
</head>
<body>
<div id="login">
	<header class="login_header">
		<p><span>欢迎登录后台管理界面平台</span><a href="__ROOT__/">回首页</a></p>
	</header>
	<div class="login_box">
		<label class="login_username"><i></i><input type="text" name="user" id="login_user"></label>
		<label class="login_pwd"><i></i><input type="password" name="password" id="login_pass"></label>
		<button type="button" id="login_sub">进入管理中心</button>
	</div>
	<footer class="login_footer">
		版权所有　2017
	</footer>
</div>
</body>
</html>