<!DOCTYPE html>
<html>
<head>
    <include file="../sz/view/head.html"></include>
    <script src="/Public/js/common.js"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<include file="../sz/view/header.html"></include>
<div id="ct" class="wp cl">
    <div id="chart" class="bm bw0 cl">


    </div>
    <!--[diy=diy_chart]--><div id="diy_chart" class="area"></div><!--[/diy]-->
    <div class="mn">

        <!-- index four grid -->
        <div class="fl bm">
            <div class="bm bmw cl">
                <div id="category_grid" class="bm_c">
                    <table cellspacing="0" cellpadding="0"><tbody><tr>
                        <td valign="top" class="category_l1">
                            <div class="newimgbox">
                                <h4><span class="tit_newimg"></span>最新图片</h4>
                                <div class="module cl slidebox_grid" style="width:218px">
                                    <script type="text/javascript">
                                        var slideSpeed = 5000;
                                        var slideImgsize = [218,200];
                                        var slideBorderColor = '#C2D5E3';
                                        var slideBgColor = '#F2F2F2';
                                        var slideImgs = new Array();
                                        var slideImgLinks = new Array();
                                        var slideImgTexts = new Array();
                                        var slideSwitchColor = '#444';
                                        var slideSwitchbgColor = '#F2F2F2';
                                        var slideSwitchHiColor = '#C2D5E3';slideImgs[1] = '/Public/img/1d10ff26044911d6fa1f9d54558409c7.jpg';
                                        slideImgLinks[1] = 'forum.php?mod=viewthread&tid=10';
                                        slideImgTexts[1] = '恭喜交易员之家新论坛正式启用';slideImgs[2] = '/Public/img/e51dfcd3c8b7773f46e00069645b4d48.jpg';
                                        slideImgLinks[2] = 'forum.php?mod=viewthread&tid=18';
                                        slideImgTexts[2] = '山东赵先生空为缘的初赛晋级曲线 ...';slideImgs[3] = '/Public/img/e51dfcd3c8b7773f46e00069645b4d48.jpg';
                                        </script>
                                    <script src="/Public/js/forum_slide.js?MeK" type="text/javascript"></script>
                                </div>
                            </div>
                        </td>
                        <td valign="top" class="category_l2">
                            <div class="subjectbox">
                                <h4><span class="tit_subject"></span>最新主题</h4>
                                <ul class="category_newlist">
                                    <foreach name="top_data" item="v">
                                        <li><a href="/forum/forum/lists?pid={$v.par_id}&id={$v.id}"  >{$v.title}</a></li>
                                    </foreach>
                                </ul>
                            </div>
                        </td>
                        <td valign="top" class="category_l3">
                            <div class="replaybox">
                                <h4><span class="tit_replay"></span>最新回复</h4>
                                <ul class="category_newlist">
                                    <foreach name="data" item="v">
                                        <li><a href="/forum/forum/lists?pid={$v.par_id}&id={$v.t_id}" style="font-weight: bold;color: #2B65B7"   target="_self">{$v.reply_to_posts}</a></li>
                                    </foreach>
                                </ul>
                            </div>
                        </td>
                        <td valign="top" class="category_l3">
                            <div class="hottiebox">
                                <h4><span class="tit_hottie"></span>热帖</h4>
                                <ul class="category_newlist">
                                    <foreach name="top_data" item="v">
                                        <li><a href="/forum/forum/lists?pid={$v.par_id}&id={$v.id}"  >{$v.title}</a></li>
                                    </foreach>

                                </ul>
                            </div>
                        </td>
                    </tr></tbody></table>
                </div>
            </div>
        </div>
        <!-- index four grid end -->

        <div class="fl bm">
            <div class="bm bmw  cl">
                <div class="bm_h cl">
<span class="o">
<img id="category_1_img" src="/Public/img/collapsed_no.gif" title="收起/展开" alt="收起/展开" onclick="toggle_collapse('category_1');">
</span>
                    <h2><a href="forum.php?gid=1" style="">Discuz!</a></h2>
                </div>
                <div id="category_1" class="bm_c" style="">
                    <table cellspacing="0" cellpadding="0" class="fl_tb">
                        <tbody>
                        <foreach name="forumdata" item="v">
                            <tr>
                                <td class="fl_icn" style="width: 100px;">
                                    <a href=""><img src="/Public/img/common_2_icon.jpg" align="left" alt=""></a></td>
                                <td>
                                    <h2>
                                        <a href="/forum/forum/forum_list?pid={$v.id}" style="color: #FF0000;">{$v.forum_description}</a><em class="xw0 xi1" title="今日"> </em></h2>
                                    <p class="xg2">{$v.subject}</p>
                                    </td>
                                <td class="fl_i">
                                    <p>作者: <span class="xi2"><a  class="notabs" c="1" mid="card_3321">楼主</a></span></p>
                                </td>
                                <td class="fl_by">
                                    <div>
                                        <p>时间: <span class="xi2"><a  class="notabs" c="1" mid="card_3321">{$v.last_post_time}</a></span></p>
                                        <!--<a href="forum.php?mod=redirect&amp;tid=275&amp;goto=lastpost#lastpost" class="xi2">坚持：二千越甲可吞吴（VIP记录 ...</a> <cite><span title="2018-3-27 00:54">8&nbsp;小时前</span> <a href="home.php?mod=space&amp;username=%BC%E1%B3%D6">坚持</a></cite>-->
                                    </div>
                                </td>
                            </tr>
                        </foreach>

                        </tbody></table>
                </div>
            </div>
        </div>

        <div class="wp mtn">
            <!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
        </div>



    </div>

</div>
<!--<textarea class="layui-textarea" id="LAY_demo1" style="display: none">-->
<!--把编辑器的初始内容放在这textarea即可-->
<!--</textarea>-->


<!--&lt;!&ndash; 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 &ndash;&gt;-->
<!--<script>-->
<!--layui.use('layedit', function(){-->
<!--var layedit = layui.layedit-->
<!--,$ = layui.jquery;-->

<!--//构建一个默认的编辑器-->
<!--var index = layedit.build('LAY_demo1');-->

<!--//编辑器外部操作-->
<!--var active = {-->
<!--content: function(){-->
<!--alert(layedit.getContent(index)); //获取编辑器内容-->
<!--}-->
<!--,text: function(){-->
<!--alert(layedit.getText(index)); //获取编辑器纯文本内容-->
<!--}-->
<!--,selection: function(){-->
<!--alert(layedit.getSelection(index));-->
<!--}-->
<!--};-->

<!--$('.site-demo-layedit').on('click', function(){-->
<!--var type = $(this).data('type');-->
<!--active[type] ? active[type].call(this) : '';-->
<!--});-->

<!--//自定义工具栏-->
<!--layedit.build('LAY_demo2', {-->
<!--tool: ['face', 'link', 'unlink', '|', 'left', 'center', 'right']-->
<!--,height: 100-->
<!--})-->
<!--});-->
<!--</script>-->

</body>
</html>
