<!DOCTYPE html>
<html lang="en">
<head>
    <include file="../sz/view/head.html"></include>


    <style>
        .cen{
            border: none;
            width: 600px;
            margin: 0 auto;
            height: 40px;
            background-color: rgba(34, 35, 62, 0.08);
        }
        .left{
            width: 535px;
            float: left;
        }
        .right{
            width: 65px;
            height: 30px;
            background-color:#B10707 ;
            float: left;
            margin-top: 8px;
        }
        .title{
            background-color: #B10707;
            color: white;
        }
        .list{
            margin-left: 12px;
        }
.pagination li{
    float: left;
}
    </style>
</head>
<body>
<include file="../sz/view/header.html"></include>
<div id="wp" class="wp">
    <style id="diy_style" type="text/css"></style>
    <!--[diy=diynavtop]--><div id="diynavtop" class="area"></div><!--[/diy]-->

    <div class="wp">
    <!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
</div>
    <div class="boardnav">
        <div id="ct" class="wp cl">

            <div class="mn">
                <div class="drag">
                    <!--[diy=diy4]--><div id="diy4" class="area"></div><!--[/diy]-->
                </div>





                <div id="threadlist" class="tl bm bmw" style="position: relative;">
                    <div class="th">
                        <table cellspacing="0" cellpadding="0">
                            <tbody><tr>
                                <th colspan="2">
                                    <div class="tf">
                                        <span id="atarget" onclick="setatarget(1)" class="y" title="在新窗口中打开帖子">新窗</span>
                                        <a id="filter_special" href="javascript:;" class="showmenu xi2" onclick="showMenu(this.id)">全部主题</a>&nbsp;
                                        <a href="forum.php?mod=forumdisplay&amp;fid=2&amp;filter=lastpost&amp;orderby=lastpost" class="xi2">最新</a>&nbsp;
                                        <a href="forum.php?mod=forumdisplay&amp;fid=2&amp;filter=heat&amp;orderby=heats" class="xi2">热门</a>&nbsp;
                                        <a href="forum.php?mod=forumdisplay&amp;fid=2&amp;filter=hot" class="xi2">热帖</a>&nbsp;
                                        <a href="forum.php?mod=forumdisplay&amp;fid=2&amp;filter=digest&amp;digest=1" class="xi2">精华</a>&nbsp;
                                        <a id="filter_dateline" href="javascript:;" class="showmenu xi2" onclick="showMenu(this.id)">更多</a>&nbsp;
                                        <span id="clearstickthread" style="display: none;">
<span class="pipe">|</span>
<a href="javascript:;" onclick="clearStickThread()" class="xi2" title="显示置顶">显示置顶</a>
</span>
                                    </div>
                                </th>
                                <td class="by">作者</td>
                                <td class="num">回复/查看</td>
                                <td class="by">最后发表</td>
                            </tr>
                            </tbody></table>
                    </div>
                    <div class="bm_c">
                        <script type="text/javascript">var lasttime = 1522133383;var listcolspan= '5';</script>
                        <div id="forumnew" style="">
                          </div>
                        <form method="post" autocomplete="off" name="moderate" id="moderate" action="forum.php?mod=topicadmin&amp;action=moderate&amp;fid=2&amp;infloat=yes&amp;nopost=yes">
                            <input type="hidden" name="formhash" value="6685bcb7">
                            <input type="hidden" name="listextra" value="page%3D1">
                            <table summary="forum_2" cellspacing="0" cellpadding="0" id="threadlisttableid">
                                <tbody id="stickthread_247">
                                <tr>
                                    <td class="icn">
                                        <a href="forum.php?mod=viewthread&amp;tid=247&amp;extra=page%3D1" title="全局置顶主题 - 新窗口打开" target="_blank">
                                            <img src="/Public/img/pin_3.gif" alt="全局置顶">
                                        </a>
                                    </td>
                                    <th class="common">
                                        <a href="javascript:;" id="content_247" class="showcontent y" title="更多操作" onclick="CONTENT_TID='247';CONTENT_ID='stickthread_247'; "></a>
                                        <a href="javascript:void(0);"  class="showhide y" title="隐藏置顶帖">隐藏置顶帖</a>
                                        <a href="forum.php?mod=viewthread&amp;tid=247&amp;extra=page%3D1" style="font-weight: bold;color: #EC1282;" onclick="atarget(this)" class="s xst">欢迎关注之家的公众号（每天推送好文和比赛成绩）***</a>
                                        <img src="/Public/img/image_s.gif" alt="attach_img" title="图片附件" align="absmiddle">
                                    </th>
                                    <td class="by">
                                        <cite>
                                            <a href="home.php?mod=space&amp;uid=30" c="1" mid="card_8747">运营部</a></cite>
                                        <em><span>2018-2-6</span></em>
                                    </td>
                                    <td class="num"><a href="forum.php?mod=viewthread&amp;tid=247&amp;extra=page%3D1" class="xi2">0</a><em>64</em></td>
                                    <td class="by">
                                        <cite><a href="home.php?mod=space&amp;username=%D4%CB%D3%AA%B2%BF" c="1" mid="card_8956">运营部</a></cite>
                                        <em><a href="forum.php?mod=redirect&amp;tid=247&amp;goto=lastpost#lastpost">2018-2-6 09:50</a></em>
                                    </td>
                                </tr>
                                </tbody>
                                <tbody id="stickthread_276">
                                <tr>
                                    <td class="icn">
                                        <a href="forum.php?mod=viewthread&amp;tid=276&amp;extra=page%3D1" title="本版置顶主题 - 新窗口打开" target="_blank">
                                            <img src="/Public/img/pin_1.gif" alt="本版置顶">
                                        </a>
                                    </td>
                                    <th class="common">
                                        <a href="javascript:;" id="content_276" class="showcontent y" title="更多操作" onclick="CONTENT_TID='276';CONTENT_ID='stickthread_276'; "></a>
                                        <a href="javascript:void(0);"   class="showhide y" title="隐藏置顶帖">隐藏置顶帖</a>
                                        <a href="forum.php?mod=viewthread&amp;tid=276&amp;extra=page%3D1" style="font-weight: bold;color: #EE1B2E;" onclick="atarget(this)" class="s xst">第一届“上塞杯”魔王争霸赛开锣喽！！！！</a>
                                        <img src="/Public/img/image_s.gif" alt="attach_img" title="图片附件" align="absmiddle">
                                    </th>
                                    <td class="by">
                                        <cite>
                                            <a href="home.php?mod=space&amp;uid=30" c="1" mid="card_8747">运营部</a></cite>
                                        <em><span><span title="2018-3-26">昨天&nbsp;14:50</span></span></em>
                                    </td>
                                    <td class="num"><a href="forum.php?mod=viewthread&amp;tid=276&amp;extra=page%3D1" class="xi2">2</a><em>14</em></td>
                                    <td class="by">
                                        <cite><a href="home.php?mod=space&amp;username=%BC%E1%B3%D6" c="1" mid="card_835">坚持</a></cite>
                                        <em><a href="forum.php?mod=redirect&amp;tid=276&amp;goto=lastpost#lastpost"><span title="2018-3-26 20:57">昨天&nbsp;20:57</span></a></em>
                                    </td>
                                </tr>
                                </tbody>
                                <tbody id="stickthread_19">
                                <tr>
                                    <td class="icn">
                                        <a href="forum.php?mod=viewthread&amp;tid=19&amp;extra=page%3D1" title="本版置顶主题 - 新窗口打开" target="_blank">
                                            <img src="/Public/img/pin_1.gif" alt="本版置顶">
                                        </a>
                                    </td>
                                    <th class="common">
                                        <a href="javascript:;" id="content_19" class="showcontent y" title="更多操作" onclick="CONTENT_TID='19';CONTENT_ID='stickthread_19'; "></a>
                                        <a href="javascript:void(0);"  class="showhide y" title="隐藏置顶帖">隐藏置顶帖</a>
                                        <a href="forum.php?mod=viewthread&amp;tid=19&amp;extra=page%3D1" style="font-weight: bold;color: #EE1B2E;" onclick="atarget(this)" class="s xst">交易员之家积分兑换规则</a>
                                    </th>
                                    <td class="by">
                                        <cite>
                                            <a href="home.php?mod=space&amp;uid=30" c="1" mid="card_8747">运营部</a></cite>
                                        <em><span>2017-9-18</span></em>
                                    </td>
                                    <td class="num"><a href="forum.php?mod=viewthread&amp;tid=19&amp;extra=page%3D1" class="xi2">10</a><em>436</em></td>
                                    <td class="by">
                                        <cite><a href="home.php?mod=space&amp;username=%B5%C8%B5%C8%B0%A1" c="1" mid="card_2870">等等啊</a></cite>
                                        <em><a href="forum.php?mod=redirect&amp;tid=19&amp;goto=lastpost#lastpost">2018-3-8 20:48</a></em>
                                    </td>
                                </tr>
                                </tbody>
                                <tbody id="stickthread_96">
                                <tr>
                                    <td class="icn">
                                        <a href="forum.php?mod=viewthread&amp;tid=96&amp;extra=page%3D1" title="本版置顶主题 - 新窗口打开" target="_blank">
                                            <img src="/Public/img/pin_1.gif" alt="本版置顶">
                                        </a>
                                    </td>
                                    <th class="common">
                                        <a href="javascript:;" id="content_96" class="showcontent y" title="更多操作" onclick="CONTENT_TID='96';CONTENT_ID='stickthread_96'; "></a>
                                        <a href="javascript:void(0);"  class="showhide y" title="隐藏置顶帖">隐藏置顶帖</a>
                                        <a href="forum.php?mod=viewthread&amp;tid=96&amp;extra=page%3D1" style="font-weight: bold;color: #EE5023;" onclick="atarget(this)" class="s xst">树立行业标杆，引领行业发展</a>
                                        <img src="/Public/img/digest_2.gif" align="absmiddle" alt="digest" title="精华 2">
                                    </th>
                                    <td class="by">
                                        <cite>
                                            <a href="home.php?mod=space&amp;uid=2" c="1" mid="card_9754">风景</a></cite>
                                        <em><span>2017-11-20</span></em>
                                    </td>
                                    <td class="num"><a href="forum.php?mod=viewthread&amp;tid=96&amp;extra=page%3D1" class="xi2">13</a><em>342</em></td>
                                    <td class="by">
                                        <cite><a href="home.php?mod=space&amp;username=%C8%D9%D2%AB%C8%CB%C9%FA" c="1" mid="card_5773">荣耀人生</a></cite>
                                        <em><a href="forum.php?mod=redirect&amp;tid=96&amp;goto=lastpost#lastpost">2018-3-6 15:33</a></em>
                                    </td>
                                </tr>
                                </tbody>
                                <tbody id="stickthread_12">
                                <tr>
                                    <td class="icn">
                                        <a href="forum.php?mod=viewthread&amp;tid=12&amp;extra=page%3D1" title="本版置顶主题 - 新窗口打开" target="_blank">
                                            <img src="/Public/img/pin_1.gif" alt="本版置顶">
                                        </a>
                                    </td>
                                    <th class="common">
                                        <a href="javascript:;" id="content_12" class="showcontent y" title="更多操作" onclick="CONTENT_TID='12';CONTENT_ID='stickthread_12'; "></a>
                                        <a href="javascript:void(0);"  class="showhide y" title="隐藏置顶帖">隐藏置顶帖</a>
                                        <a href="forum.php?mod=viewthread&amp;tid=12&amp;extra=page%3D1" style="font-weight: bold;text-decoration: underline;color: #2B65B7;" onclick="atarget(this)" class="s xst">风景寄语——致广大魔友的一封信</a>
                                        <img src="/Public/img/011.small.gif" alt="新人帖" align="absmiddle">
                                        <span class="tps">&nbsp;...<a href="forum.php?mod=viewthread&amp;tid=12&amp;extra=page%3D1&amp;page=2">2</a></span>
                                    </th>
                                    <td class="by">
                                        <cite>
                                            <a href="home.php?mod=space&amp;uid=2" c="1" mid="card_9754">风景</a></cite>
                                        <em><span>2017-9-17</span></em>
                                    </td>
                                    <td class="num"><a href="forum.php?mod=viewthread&amp;tid=12&amp;extra=page%3D1" class="xi2">21</a><em>808</em></td>
                                    <td class="by">
                                        <cite><a href="home.php?mod=space&amp;username=%B7%C9%C1%FA%D4%DA%CC%EC" c="1" mid="card_2777">飞龙在天</a></cite>
                                        <em><a href="forum.php?mod=redirect&amp;tid=12&amp;goto=lastpost#lastpost">2018-1-16 10:44</a></em>
                                    </td>
                                </tr>
                                </tbody>
                                <tbody id="stickthread_5">
                                <tr>
                                    <td class="icn">
                                        <a href="forum.php?mod=viewthread&amp;tid=5&amp;extra=page%3D1" title="本版置顶主题 - 新窗口打开" target="_blank">
                                            <img src="/Public/img/pin_1.gif" alt="本版置顶">
                                        </a>
                                    </td>
                                    <th class="common">
                                        <a href="javascript:;" id="content_5" class="showcontent y" title="更多操作" onclick="CONTENT_TID='5';CONTENT_ID='stickthread_5'; "></a>
                                        <a href="javascript:void(0);"  class="showhide y" title="隐藏置顶帖">隐藏置顶帖</a>
                                        <a href="forum.php?mod=viewthread&amp;tid=5&amp;extra=page%3D1" style="font-weight: bold;color: #EE1B2E;" onclick="atarget(this)" class="s xst">我的一些心得（心师发表于交易员之家旧论坛）</a>
                                        <img src="/Public/img/011.small.gif" alt="新人帖" align="absmiddle">
                                        <img src="/Public/img/digest_1.gif" align="absmiddle" alt="digest" title="精华 1">
                                    </th>
                                    <td class="by">
                                        <cite>
                                            <a href="home.php?mod=space&amp;uid=8" c="1" mid="card_9038">心门大弟子</a></cite>
                                        <em><span>2017-9-16</span></em>
                                    </td>
                                    <td class="num"><a href="forum.php?mod=viewthread&amp;tid=5&amp;extra=page%3D1" class="xi2">13</a><em>602</em></td>
                                    <td class="by">
                                        <cite><a href="home.php?mod=space&amp;username=%D4%AA%C9%CF" c="1" mid="card_6495">元上</a></cite>
                                        <em><a href="forum.php?mod=redirect&amp;tid=5&amp;goto=lastpost#lastpost">2018-1-10 14:23</a></em>
                                    </td>
                                </tr>
                                </tbody>
                                <tbody id="stickthread_17">
                                <tr>
                                    <td class="icn">
                                        <a href="forum.php?mod=viewthread&amp;tid=17&amp;extra=page%3D1" title="本版置顶主题 - 新窗口打开" target="_blank">
                                            <img src="/Public/img/pin_1.gif" alt="本版置顶">
                                        </a>
                                    </td>
                                    <th class="common">
                                        <a href="javascript:;" id="content_17" class="showcontent y" title="更多操作" onclick="CONTENT_TID='17';CONTENT_ID='stickthread_17'; "></a>
                                        <a href="javascript:void(0);" class="showhide y" title="隐藏置顶帖">隐藏置顶帖</a>
                                        <a href="forum.php?mod=viewthread&amp;tid=17&amp;extra=page%3D1" style="color: #EE5023;" onclick="atarget(this)" class="s xst">关于小幅修改规则的公告~</a>
                                        <img src="/Public/img/011.small.gif" alt="新人帖" align="absmiddle">
                                    </th>
                                    <td class="by">
                                        <cite>
                                            <a href="home.php?mod=space&amp;uid=30" c="1" mid="card_8747">运营部</a></cite>
                                        <em><span>2017-9-17</span></em>
                                    </td>
                                    <td class="num"><a href="forum.php?mod=viewthread&amp;tid=17&amp;extra=page%3D1" class="xi2">3</a><em>450</em></td>
                                    <td class="by">
                                        <cite><a href="home.php?mod=space&amp;username=shjz333" c="1" mid="card_7801">shjz333</a></cite>
                                        <em><a href="forum.php?mod=redirect&amp;tid=17&amp;goto=lastpost#lastpost">2017-9-22 17:12</a></em>
                                    </td>
                                </tr>
                                </tbody>
                                <tbody id="separatorline">
                                <tr class="ts">
                                    <td>&nbsp;</td>
                                    <th><a href="javascript:;" onclick="checkForumnew_btn('2')" title="查看更新" class="forumrefresh">版块主题</a></th><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                                </tr>
                                </tbody>
                                <foreach name="data" item="v">
                                    <tbody id="normalthread_{$v.id}">
                                    <tr>
                                        <td class="icn">
                                            <a href="forum.php?mod=viewthread&amp;tid=234&amp;extra=page%3D1" title="新窗口打开" target="_blank">
                                                <img src="/Public/img/folder_common.gif">
                                            </a>
                                        </td>
                                        <th class="common">
                                            <a href="javascript:;" id="content_234" class="showcontent y" title="更多操作" onclick="CONTENT_TID='234';CONTENT_ID='normalthread_234'; "></a>
                                            <a href="forum.php?mod=viewthread&amp;tid=234&amp;extra=page%3D1"  class="s xst">{$v.title}</a>
                                            <img src="/Public/img/011.small.gif" alt="新人帖" align="absmiddle">
                                        </th>
                                        <td class="by">
                                            <cite>
                                                <a href="home.php?mod=space&amp;uid=299" c="1" mid="card_6503">{$v.author}</a></cite>
                                            <em><span>{$v.date}</span></em>
                                        </td>
                                        <td class="num"><a href="forum.php?mod=viewthread&amp;tid=234&amp;extra=page%3D1" class="xi2">2</a><em>132</em></td>
                                        <td class="by">
                                            <cite><a href="home.php?mod=space&amp;username=%BC%E1%B3%D6" c="1" mid="card_835">坚持</a></cite>
                                            <em><a href="forum.php?mod=redirect&amp;tid=234&amp;goto=lastpost#lastpost">2018-1-16 18:24</a></em>
                                        </td>
                                    </tr>
                                    </tbody>
                                </foreach>


                            </table><!-- end of table "forum_G[fid]" branch 1/3 -->
                        </form>
                    </div>
                </div>

                <div id="filter_special_menu" class="p_pop" style="display:none" change="location.href='forum.php?mod=forumdisplay&amp;fid=2&amp;filter='+$('filter_special').value">
                    <ul>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=2">全部主题</a></li>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=2&amp;filter=specialtype&amp;specialtype=poll">投票</a></li></ul>
                </div>
                <div id="filter_reward_menu" class="p_pop" style="display:none" change="forum.php?mod=forumdisplay&amp;fid=2&amp;filter=specialtype&amp;specialtype=reward&amp;rewardtype='+$('filter_reward').value">
                    <ul>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=2&amp;filter=specialtype&amp;specialtype=reward">全部悬赏</a></li>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=2&amp;filter=specialtype&amp;specialtype=reward&amp;rewardtype=1">进行中</a></li></ul>
                </div>
                <div id="filter_dateline_menu" class="p_pop" style="display:none">
                    <ul class="pop_moremenu">
                        <li>排序:
                            <a href="forum.php?mod=forumdisplay&amp;fid=2&amp;filter=author&amp;orderby=dateline">发帖时间</a><span class="pipe">|</span>
                            <a href="forum.php?mod=forumdisplay&amp;fid=2&amp;filter=reply&amp;orderby=replies">回复/查看</a><span class="pipe">|</span>
                            <a href="forum.php?mod=forumdisplay&amp;fid=2&amp;filter=reply&amp;orderby=views">查看</a>
                        </li>
                        <li>时间:
                            <a href="forum.php?mod=forumdisplay&amp;fid=2&amp;orderby=lastpost&amp;filter=dateline" class="xw1">全部时间</a><span class="pipe">|</span>
                            <a href="forum.php?mod=forumdisplay&amp;fid=2&amp;orderby=lastpost&amp;filter=dateline&amp;dateline=86400">一天</a><span class="pipe">|</span>
                            <a href="forum.php?mod=forumdisplay&amp;fid=2&amp;orderby=lastpost&amp;filter=dateline&amp;dateline=172800">两天</a><span class="pipe">|</span>
                            <a href="forum.php?mod=forumdisplay&amp;fid=2&amp;orderby=lastpost&amp;filter=dateline&amp;dateline=604800">一周</a><span class="pipe">|</span>
                            <a href="forum.php?mod=forumdisplay&amp;fid=2&amp;orderby=lastpost&amp;filter=dateline&amp;dateline=2592000">一个月</a><span class="pipe">|</span>
                            <a href="forum.php?mod=forumdisplay&amp;fid=2&amp;orderby=lastpost&amp;filter=dateline&amp;dateline=7948800">三个月</a>
                        </li>
                    </ul>
                </div>
                <div id="filter_orderby_menu" class="p_pop" style="display:none">
                    <ul>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=2">默认排序</a></li>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=2&amp;filter=author&amp;orderby=dateline">发帖时间</a></li>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=2&amp;filter=reply&amp;orderby=replies">回复/查看</a></li>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=2&amp;filter=reply&amp;orderby=views">查看</a></li>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=2&amp;filter=lastpost&amp;orderby=lastpost">最后发表</a></li>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=2&amp;filter=heat&amp;orderby=heats">热门</a></li>
                    </ul>
                </div>
                <!--<a class="bm_h" href="javascript:;" rel="forum.php?mod=forumdisplay&amp;fid=2&amp;page=2" curpage="1" id="autopbn" totalpage="4" picstyle="0" forumdefstyle="">下一页 »</a>-->
                <div>{$page}</div>
                <script src="/Public/js/autoloadpage.js?MeK" type="text/javascript"></script>
                <!--<div class="bm bw0 pgs cl">-->
                    <!--<span id="fd_page_bottom"><div class="pg"><strong>1</strong><a href="forum.php?mod=forumdisplay&amp;fid=2&amp;page=2">2</a><a href="forum.php?mod=forumdisplay&amp;fid=2&amp;page=3">3</a><a href="forum.php?mod=forumdisplay&amp;fid=2&amp;page=4">4</a><label><input type="text" name="custompage" class="px" size="2" title="输入页码，按回车快速跳转" value="1" onkeydown="if(event.keyCode==13) {window.location='forum.php?mod=forumdisplay&amp;fid=2&amp;page='+this.value;; doane(event);}"><span title="共 4 页"> / 4 页</span></label><a href="forum.php?mod=forumdisplay&amp;fid=2&amp;page=2" class="nxt">下一页</a></div></span>-->
                    <!--<span id="visitedforumstmp" onmouseover="$('visitedforums').id = 'visitedforumstmp';this.id = 'visitedforums'" class="pgb y"><a href="forum.php">返&nbsp;回</a></span>-->
                    <!--<a href="javascript:;" id="newspecialtmp" onmouseover="$('newspecial').id = 'newspecialtmp';this.id = 'newspecial';" onclick="showWindow('newthread', 'forum.php?mod=post&amp;action=newthread&amp;fid=2')" title="发新帖"><img src="/Public/img/pn_post.png" alt="发新帖"></a></div>-->
                <!--[diy=diyfastposttop]--><div id="diyfastposttop" class="area"></div><!--[/diy]-->
                <script type="text/javascript">
                    var postminchars = parseInt('10');
                    var postmaxchars = parseInt('10000');
                    var disablepostctrl = parseInt('0');
                    var fid = parseInt('2');
                </script>
                <div id="f_pst" class="bm">
                    <div class="bm_h">
                        <h2>快速发帖</h2>
                    </div>
                    <div class="bm_c">
                        <form action="/forum/forum/add_lists" method="post">
                            <input type="hidden" name="pid" value="{$id}">
                            <div class="pbt cl">
                                <input type="text" id="subject" name="title" class="px" value=""  tabindex="11" style="width: 25em">
                                <!--<span>还可输入 <strong id="checklen">80</strong> 个字符</span>-->
                            </div>
                            <textarea class="layui-textarea" id="LAY_demo1" name="content" style="display: none"></textarea>
                            <p class="ptm pnpost">
                                <a href="" class="y" target="_blank">本版积分规则</a>
                                <button type="submit"  name="replysubmit" id="fastpostsubmit" class="pn pnc vm" value="replysubmit" tabindex="5">
                                    <strong>发表帖子</strong>
                                </button>
                                <label for="fastpostrefresh"><input id="fastpostrefresh" type="checkbox" class="pc">回帖后跳转到最后一页</label>
                            </p>
                        </form>

                    </div>

                </div>
                <!--[diy=diyforumdisplaybottom]--><div id="diyforumdisplaybottom" class="area"></div><!--[/diy]-->
            </div>

        </div>
    </div>



</div>
<script>
    layui.use('layedit', function(){
        var layedit = layui.layedit
            ,$ = layui.jquery;
        layedit.set({
            uploadImage: {
                url: '/forum/forum/editUpload' //接口url
                ,type: 'post', //默认post
            }
        });
        //构建一个默认的编辑器
        var index = layedit.build('LAY_demo1');

        //编辑器外部操作
        var active = {
            content: function(){
                alert(layedit.getContent(index)); //获取编辑器内容
            }
            ,text: function(){
                alert(layedit.getText(index)); //获取编辑器纯文本内容
            }
            ,selection: function(){
                alert(layedit.getSelection(index));
            }
        };

        $('.site-demo-layedit').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //自定义工具栏
        layedit.build('LAY_demo2', {
            tool: ['face', 'link', 'unlink', '|', 'left', 'center', 'right']
            ,height: 100
        })

    });
</script>
<include file="../sz/view/foot.html"></include>
</body>
</html>
