
<!DOCTYPE html>
<html lang="en">
<head>
    <include file="../sz/view/head.html"></include>
    <link rel="stylesheet" type="text/css" href="/Public/css/style_1_forum_viewthread.css?MeK">
    <script src="/Public/js/clipboard.min.js"></script>
    <style>
        .layui-layedit {
            border-width: 1px;
            border-style: solid;
            border-radius: 2px;
            width:100%;
            height: 250px;
        }

    </style>
</head>

<body id="nv_forum" class="pg_viewthread" onkeydown="if(event.keyCode==27) return false;">

<include file="../sz/view/header.html"></include>
<div id="append_parent"></div><div id="ajaxwaitid"></div>


<ul id="myprompt_menu" class="p_pop" style="position: absolute; z-index: 301; left: 1087.61px; top: 73px; display: none;" initialized="true">
    <li><a href="home.php?mod=space&amp;do=pm" id="pm_ntc" style="background-repeat: no-repeat; background-position: 0 50%;" class=""><em class="prompt_news_0"></em>消息</a></li>
    <li><a href="home.php?mod=follow&amp;do=follower"><em class="prompt_follower_0"></em>新听众</a></li>
    <li><a href="home.php?mod=space&amp;do=notice&amp;view=system"><em class="notice_system"></em>系统提醒(<span class="rq">1</span>)</a></li>
    <li class="ignore_noticeli"><a href="javascript:;" onclick="setcookie('ignore_notice', 1);hideMenu('myprompt_menu')" title="暂不提醒"><em class="ignore_notice"></em></a></li>
</ul>
<div id="sslct_menu" class="cl p_pop" style="display: none;">
    <span class="sslct_btn" onclick="extstyle('./template/default/style/t1')" title="红"><i style="background:#BA350F"></i></span>
    <span class="sslct_btn" onclick="extstyle('./template/default/style/t2')" title="青"><i style="background:#429296"></i></span>
    <span class="sslct_btn" onclick="extstyle('./template/default/style/t3')" title="橙"><i style="background:#FE9500"></i></span>
    <span class="sslct_btn" onclick="extstyle('./template/default/style/t4')" title="紫"><i style="background:#9934B7"></i></span>
    <span class="sslct_btn" onclick="extstyle('./template/default/style/t5')" title="蓝"><i style="background:#0053B9"></i></span>
</div>
<ul id="myitem_menu" class="p_pop" style="display: none;">
    <li><a href="forum.php?mod=guide&amp;view=my">回复</a></li>
    <li><a href="home.php?mod=space&amp;do=favorite&amp;view=me">收藏</a></li>
    <li><a href="home.php?mod=space&amp;do=friend">好友</a></li>
</ul>
<div id="qmenu_menu" class="p_pop " style="display: none;">
    <ul class="cl nav"><li><a href="home.php?mod=magic" style="background-image:url(http://www.hzssbbs.com//Public/image/feed/magic_b.png) !important">道具</a></li>
        <li><a href="home.php?mod=medal" style="background-image:url(http://www.hzssbbs.com//Public/image/feed/medal_b.png) !important">勋章</a></li>
        <li><a href="home.php?mod=task" style="background-image:url(http://www.hzssbbs.com//Public/image/feed/task_b.png) !important">任务</a></li>
    </ul>
    <div id="fjump_menu" class="btda"></div></div>


<link rel="stylesheet" href="/Public/css/oculus.css?t=1486453586">
<link rel="stylesheet" href="//g.alicdn.com/sd/ncpc/nc.css?t=1486453586" disabled="">
<script src="//g.alicdn.com/sd/ncpc/nc.js?t=1486453586"></script>
<script src="/Public/js/oculus_nc.js?t=1486453586"></script>
<div id="nc-float" style="display:none;">
    <div class="nc-f-head">
        <img class="nc-f-icon" src="//img.alicdn.com/tps/TB1_3FrKVXXXXbdXXXXXXXXXXXX-129-128.png" alt="" height="20" width="20">
        <span class="nc-f-title">安全验证</span>
        <a class="close" href="#"><i class="nc_iconfont"></i></a>
    </div>
    <div class="nc-f-body" id="oculus-nc-f-body">
        <div class="nc-f-des">请完成以下验证码</div>
        <div id="nocaptcha"></div>
    </div>
</div>
<div id="wp" class="wp">
    <script type="text/javascript">var fid = parseInt('2'), tid = parseInt('276');</script>


    <script type="text/javascript">zoomstatus = parseInt(1);var imagemaxwidth = '600';var aimgcount = new Array();</script>

    <style id="diy_style" type="text/css"></style>
    <!--[diy=diynavtop]--><div id="diynavtop" class="area"></div><!--[/diy]-->
   

    <style id="diy_style" type="text/css"></style>
    <div class="wp">
        <!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
    </div>

    <div id="ct" class="wp cl">
        <div id="pgt" class="pgs mbm cl ">
            <div class="pgt"></div>
            <span class="y pgb" id="visitedforums" onmouseover="$('visitedforums').id = 'visitedforumstmp';this.id = 'visitedforums';">
                <a href="/forum/forum/forum_list?pid={$pid}">返回列表</a></span>
            <a id="newspecial" onmouseover="$('newspecial').id = 'newspecialtmp';this.id = 'newspecial';" onclick="showWindow('newthread', 'forum.php?mod=post&amp;action=newthread&amp;fid=2')" href="javascript:;" title="发新帖"><img src="/Public/img/pn_post.png" alt="发新帖"></a><a id="post_reply" onclick="showWindow('reply', 'forum.php?mod=post&amp;action=reply&amp;fid=2&amp;tid=276')" href="javascript:;" title="回复"><img src="/Public/img/pn_reply.png" alt="回复"></a>
        </div>

        <ul class="p_pop" id="newspecial_menu" style="display: none">
            <li><a href="">发表回复</a></li><li class="poll"><a href="">发起投票</a></li></ul>


        <div id="postlist" class="pl bm">
            <table cellspacing="0" cellpadding="0">
                <tbody><tr>
                    <td class="pls ptn pbn">
                        <div class="hm ptn">
                            <span class="xg1">查看:</span>
                            <span class="xi1">{$data.count}</span>
                            <span class="pipe">|</span><span class="xg1">回复:</span> <span class="xi1">{$data.num}</span>
                        </div>
                    </td>
                    <td class="plc ptm pbn vwthd">
                        <div class="y">
                            <!--<a href="forum.php?mod=viewthread&amp;action=printable&amp;tid=276" title="打印" target="_blank"><img src="/Public/img/print.png" alt="打印" class="vm"></a>-->
                            <a href="/forum/forum/lists?pid={$pid}&id={$id-1}" title="上一帖子"><img src="/Public/img/thread-prev.png" alt="上一帖子" class="vm"></a>
                            <a href="/forum/forum/lists?pid={$pid}&id={$id+1}" title="下一帖子"><img src="/Public/img/thread-next.png" alt="下一帖子" class="vm"></a>
                        </div>
                        <h1 class="ts">
                            <span id="thread_subject">{$data.title}</span>
                        </h1>
                        <span class="xg1">
                     <a class="copy" data-clipboard-text="" >[复制链接]</a>
                   </span>
                    </td>
                </tr>
                </tbody></table>


            <table cellspacing="0" cellpadding="0" class="ad">
                <tbody><tr>
                    <td class="pls">
                    </td>
                    <td class="plc">
                    </td>
                </tr>
                </tbody></table><div id="post_1034"><table id="pid1034" class="plhin" summary="pid1034" cellspacing="0" cellpadding="0">
            <tbody><tr>
                <td class="pls" rowspan="2">
                    <div id="favatar1034" class="pls favatar" style="top: 33px;">
                        <a name="newpost"></a> <div class="pi">
                        <div class="authi"><a href="home.php?mod=space&amp;uid=30" target="_blank" class="xw1">运营部</a>
                        </div>
                    </div>
                        <div class="p_pop blk bui card_gender_0" id="userinfo1034" style="display: none; margin-top: -11px;">
                            <div class="m z">
                                <div id="userinfo1034_ma"></div>
                            </div>
                            <div class="i y">
                                <div>
                                    <strong><a href="home.php?mod=space&amp;uid=30" target="_blank" class="xi2">运营部</a></strong>
                                    <em>当前离线</em>
                                </div>
                                <dl class="cl">
                                <dt>积分</dt>
                                <dd>
                                    <a href="home.php?mod=space&amp;uid=30&amp;do=profile" target="_blank" class="xi2">381</a>

                                </dd>
                            </dl>
                                <div class="imicn">
                                <a href="home.php?mod=space&amp;uid=30&amp;do=profile" target="_blank" title="查看详细资料"><img src="/Public/img/userinfo.gif" alt="查看详细资料"></a>
                            </div>
                                <div id="avatarfeed"><span id="threadsortswait"></span></div>
                            </div>
                        </div>
                        <div>
                            <div class="avatar" >
                                <a href="" class="avtm" target="_blank">
                                <img src="{$data.user_face}"></a></div>
                        </div>
                        <div class="tns xg2"><table cellspacing="0" cellpadding="0"><tbody><tr><th><p><a href="home.php?mod=space&amp;uid=30&amp;do=thread&amp;type=thread&amp;view=me&amp;from=space" class="xi2">70</a></p>帖子</th><th><p><a href="home.php?mod=space&amp;uid=30&amp;do=thread&amp;type=reply&amp;view=me&amp;from=space" class="xi2">77</a></p>回复</th>
                            <!--<td><p><a href="home.php?mod=space&amp;uid=30&amp;do=profile" class="xi2">381</a></p>积分</td>-->
                        </tr></tbody></table></div>

                        <!--<p><em><a href="home.php?mod=spacecp&amp;ac=usergroup&amp;gid=1" target="_blank">管理员</a></em></p>-->


                        <!--<p><span><img src="/Public/img/star_level3.gif" alt="Rank: 9"><img src="/Public/img/star_level3.gif" alt="Rank: 9"><img src="/Public/img/star_level1.gif" alt="Rank: 9"></span></p>-->



                        <!--<dl class="pil cl">-->
                            <!--<dt>积分</dt><dd><a href="home.php?mod=space&amp;uid=30&amp;do=profile" target="_blank" class="xi2">381</a></dd>-->
                        <!--</dl>-->

                        <!--<dl class="pil cl"></dl><ul class="xl xl2 o cl">-->
                        <!--<li class="pm2"><a href="home.php?mod=spacecp&amp;ac=pm&amp;op=showmsg&amp;handlekey=showmsg_30&amp;touid=30&amp;pmid=0&amp;daterange=2&amp;pid=1034&amp;tid=276" onclick="showWindow('sendpm', this.href);" title="发消息" class="xi2">发消息</a></li>-->
                    <!--</ul>-->
                    </div>
                </td>
                <td class="plc">
                    <div class="pi">
                        <div id="fj" class="y">
                            <label class="z">电梯直达</label>
                            <input type="text" class="px p_fre z" size="2" onkeyup="$('#fj_btn').attr('href','/forum/forum/lists?pid={$pid}&id={$id}&page='+this.value)" onkeydown="if(event.keyCode==13) {window.location=$('#fj_btn').href;return false;}" title="跳转到指定楼层">
                            <a  id="fj_btn" class="z" title="跳转到指定楼层"><img src="/Public/img/fj_btn.png" alt="跳转到指定楼层" class="vm"></a>
                        </div>
                        <strong>
                            <a class="copy" data-clipboard-text="">楼主</a>
                            <!--<a href="" title="您的朋友访问此链接后，您将获得相应的积分奖励" id="postnum1034" onclick="setCopy(this.href, '回复地址复制成功');return false;">-->
                                <!--楼主</a>-->
                        </strong>
                        <div class="pti">
                            <div class="pdbt">
                            </div>
                            <div class="authi">
                                <img class="authicn vm" id="authicon1034" src="/Public/img/online_admin.gif">
                                <em id="authorposton1034">发表于 <span title="2018-3-26 14:50:28">{$data.date}</span></em>
                                <span class="pipe">|</span>
                                <a href="/forum/forum/lists?pid={$pid}&id={$id}&author={$data.author}" rel="nofollow">只看该作者</a>
                                <!--<span class="pipe">|</span><a href="">只看大图</a>-->
                                <span class="none"><img src="/Public/img/arw_r.gif" class="vm" alt="回帖奖励"></span>
                                <span class="pipe show">|</span><a href="/forum/forum/lists?pid={$pid}&id={$id}&type=asc" class="show">正序浏览</a>
                                <span class="pipe show">|</span><a href="/forum/forum/lists?pid={$pid}&id={$id}&type=desc" class="show">倒序浏览</a>
                                <!--<span class="pipe show">|</span><a href="javascript:;" onclick="readmode($('thread_subject').innerHTML, 1034);" class="show">阅读模式</a>-->
                            </div>
                        </div>
                    </div><div class="pct"><style type="text/css">.pcb{margin-right:0}</style><div class="pcb">

                    <div class="t_fsz">
                        <table cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td class="t_f" id="postmessage_{$data.id}">
                                    {$data.content}
                        </td>
                            </tr>
                            </tbody>
                        </table>


                        <form method="post" autocomplete="off" id="vfastpostform" action="/forum/forum/add_reply?pid={$pid}&id={$id}" >
                        <div id="vfastpost" class="fullvfastpost">
                            <input type="hidden" name="formhash" value="6685bcb7">
                            <table cellspacing="0" cellpadding="0" id="vfastposttb">
                                <tbody><tr>
                                    <td id="vf_l"></td>
                                    <td id="vf_m">
                                        <input type="text" name="content" id="vmessage" onkeydown="seditor_ctlent(event, '$(\'vfastpostform\').submit()');" style="color: rgb(205, 205, 205);"></td>
                                    <td id="vf_r"></td>
                                    <td id="vf_b">
                                        <button type="submit" class="pn pnc" name="replysubmit" id="vreplysubmit" value="true" style="">post_newreply</button>
                                    </td>
                                </tr>
                                </tbody></table>
                        </div>
                        <div id="vfastpostseccheck"></div>
                    </form>


                    </div>
                    <div id="comment_1034" class="cm">
                    </div>

                    <div id="post_rate_div_1034"></div>
                </div>
                </div>

                </td></tr>
            <tr><td class="plc plm">
                <div id="p_btn" class="mtw mbm hm cl">
                    <a  id="k_favorite"  title="收藏本帖"><i><img src="/Public/img/fav.gif" alt="收藏">收藏<span id="favoritenumber" style="display:none">0</span></i></a>
                </div>
            </td>
            </tr>
            <tr id="_postposition1034"></tr>
            <tr>
                <td class="pls"></td>
                <td class="plc" style="overflow:visible;">
                    <div class="po hin">
                        <div class="pob cl">
                            <em>
                                <a class="fastre" >回复</a>
                            </em>

                            <p>
                                <a href="javascript:;" id="mgc_post_1034"  class="showmenu" style="display: none;"></a>
                                <!--<a href="javascript:;" onclick="showWindow('miscreport1034', 'misc.php?mod=report&amp;rtype=post&amp;rid=1034&amp;tid=276&amp;fid=2', 'get', -1);return false;">举报</a>-->
                            </p>

                            <ul id="mgc_post_1034_menu" class="p_pop mgcmn" style="display: none;">
                            </ul>

                        </div>
                    </div>
                </td>
            </tr>
            <tr class="ad">
                <td class="pls">
                </td>
                <td class="plc">
                </td>
            </tr>
            </tbody></table>

        </div>


            <foreach name="list" item="v">
                <div id="post_{$v.id}">
                    <table id="pid1036" class="plhin" summary="pid1036" cellspacing="0" cellpadding="0">
                        <tbody><tr>
                            <td class="pls" rowspan="2">
                                <div id="favatar1036" class="pls favatar">
                                    <div class="pi">
                                        <div class="authi"><a href="" target="_blank" class="xw1">{$v.reply_author}</a>
                                        </div>
                                    </div>
                                    <div class="p_pop blk bui card_gender_0" id="userinfo1036" style="display: none; margin-top: -11px;">
                                        <div class="m z">
                                            <div id="userinfo1036_ma"></div>
                                        </div>
                                        <div class="i y">
                                            <div>
                                                <strong><a href="home.php?mod=space&amp;uid=21" target="_blank" class="xi2">{$v.reply_author}</a></strong>
                                                <em>当前离线</em>
                                            </div><dl class="cl">
                                            <dt>积分</dt><dd><a href="home.php?mod=space&amp;uid=21&amp;do=profile" target="_blank" class="xi2">1175</a></dd>
                                        </dl><div class="imicn">
                                            <a href="home.php?mod=space&amp;uid=21&amp;do=profile" target="_blank" title="查看详细资料">
                                                <img src="/Public/img/userinfo.gif" alt="查看详细资料"></a>
                                        </div>
                                            <div id="avatarfeed"><span id="threadsortswait"></span></div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="avatar" ><a href="home.php?mod=space&amp;uid=21" class="avtm" target="_blank">
                                            <img src="{$v.user_face}"></a></div>
                                    </div>
                                    <div class="tns xg2">
                                        <table cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <th>
                                                    <p>
                                                        <a class="xi2">12</a>
                                                    </p>帖子</th>
                                                <th>
                                                    <p>
                                                        <a  class="xi2">430</a></p>回复</th>
                                                <!--<td>-->
                                                    <!--<p>-->
                                                        <!--<a  class="xi2">1175</a></p>积分-->
                                                <!--</td>-->
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <!--<p><em><a href="home.php?mod=spacecp&amp;ac=usergroup&amp;gid=3" target="_blank">版主</a></em></p>-->


                                    <!--<p><span><img src="/Public/img/star_level3.gif" alt="Rank: 7"><img src="/Public/img/star_level2.gif" alt="Rank: 7"><img src="/Public/img/star_level1.gif" alt="Rank: 7"></span></p>-->



                                    <!--<dl class="pil cl">-->
                                        <!--<dt>积分</dt><dd><a href="home.php?mod=space&amp;uid=21&amp;do=profile" target="_blank" class="xi2">1175</a></dd>-->
                                    <!--</dl>-->

                                    <!--<dl class="pil cl"></dl><ul class="xl xl2 o cl">-->
                                    <!--<li class="pm2"><a href="home.php?mod=spacecp&amp;ac=pm&amp;op=showmsg&amp;handlekey=showmsg_21&amp;touid=21&amp;pmid=0&amp;daterange=2&amp;pid=1036&amp;tid=276" onclick="showWindow('sendpm', this.href);" title="发消息" class="xi2">发消息</a></li>-->
                                <!--</ul>-->
                                </div>
                            </td>
                            <td class="plc">
                                <div class="pi">
                                    <strong>
                                        <a class="copy" data-clipboard-text="">{$v.id}#</a>
                                        <!--<a href="" title="您的朋友访问此链接后，您将获得相应的积分奖励"  onclick="setCopy(window.location.href, '回复地址复制成功');return false;">-->
                                            <!--沙发</a>-->
                                    </strong>
                                    <div class="pti">
                                        <div class="pdbt">
                                        </div>
                                        <div class="authi">
                                            <img class="authicn vm" id="authicon1036" src="/Public/img/online_moderator.gif">
                                            <em id="authorposton1036">发表于 <span title="2018-3-26 20:57:50">{$v.date}</span></em>
                                            <span class="pipe">|</span>
                                            <a href="/forum/forum/lists?pid={$pid}&id={$id}&author={$v.reply_author}" rel="nofollow">只看该作者</a>
                                        </div>
                                    </div>
                                </div><div class="pct"><div class="pcb">
                                <div class="t_fsz">
                                    <table cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr><td class="t_f" id="postmessage_1036">
                                        {$v.reply}</td></tr></tbody></table>


                                </div>
                                <div id="comment_1036" class="cm">
                                </div>

                                <div id="post_rate_div_1036"></div>
                            </div>
                            </div>

                            </td></tr>
                        <tr><td class="plc plm">
                        </td>
                        </tr>
                        <tr id="_postposition1036"></tr>
                        <tr>
                            <td class="pls"></td>
                            <td class="plc" style="overflow:visible;">
                                <div class="po hin">
                                    <div class="pob cl">
                                        <em>
                                            <a class="fastre" >回复</a>
                                        </em>

                                        <p>
                                            <a href="javascript:;" id="mgc_post_1036"  class="showmenu" style="display: none;"></a>
                                            <!--<a href="javascript:;" onclick="showWindow('miscreport1036', 'misc.php?mod=report&amp;rtype=post&amp;rid=1036&amp;tid=276&amp;fid=2', 'get', -1);return false;">举报</a>-->
                                        </p>

                                        <ul id="mgc_post_1036_menu" class="p_pop mgcmn" style="display: none;">
                                        </ul>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="ad">
                            <td class="pls">
                            </td>
                            <td class="plc">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </foreach>
<div>
    {$page}
</div>


            <div class="pgs mtm mbm cl">
            <span class="pgb y" id="visitedforumstmp" onmouseover="$('visitedforums').id = 'visitedforumstmp';this.id = 'visitedforums';"><a href="/forum/forum/forum_list?pid={$pid}">返回列表</a></span>
            <a id="newspecialtmp" onmouseover="$('newspecial').id = 'newspecialtmp';this.id = 'newspecial';" onclick="showWindow('newthread', 'forum.php?mod=post&amp;action=newthread&amp;fid=2')" href="javascript:;" title="发新帖"><img src="/Public/img/pn_post.png" alt="发新帖"></a>
            <a id="post_replytmp" onclick="showWindow('reply', 'forum.php?mod=post&amp;action=reply&amp;fid=2&amp;tid=276')" href="javascript:;" title="回复"><img src="/Public/img/pn_reply.png" alt="回复"></a>
        </div>

        <!--[diy=diyfastposttop]--><div id="diyfastposttop" class="area"></div><!--[/diy]-->
        <script type="text/javascript">
            var postminchars = parseInt('10');
            var postmaxchars = parseInt('10000');
            var disablepostctrl = parseInt('0');
        </script>

        <div id="f_pst" class="pl bm bmw">
            <form method="post" autocomplete="off" id="fastpostform" action="/forum/forum/add_reply?pid={$pid}&id={$id}" >
                <table style="height: 350px" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td class="pls">
                            <div class="avatar avtm">
                                <img src="/Public/img/noavatar_middle.gif"></div>
                        </td>
                        <td class="plc">

                            <input type="hidden" id="posts" name="post" >
                            <script>
                                $('#posts').val($('#thread_subject').text());
                            </script>
                            <textarea class="layui-textarea" name="content"  id="LAY_demo1" style="display: none"></textarea>
                            <p class="ptm pnpost">

                                <button type="submit"  name="replysubmit" id="fastpostsubmit" class="pn pnc vm" value="replysubmit" tabindex="5"><strong>发表回复</strong></button>
                                <label for="fastpostrefresh"><input id="fastpostrefresh" type="checkbox" class="pc">回帖后跳转到最后一页</label>
                                <script type="text/javascript">if(getcookie('fastpostrefresh') == 1) {$('fastpostrefresh').checked=true;}</script>
                            </p>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </form>
        </div>

        <div id="visitedforums_menu" class="p_pop blk cl" style="display: none;">
            <table cellspacing="0" cellpadding="0">
                <tbody><tr>
                    <td id="v_forums">
                        <h3 class="mbn pbn bbda xg1">浏览过的版块</h3>
                        <ul class="xl xl1">
                            <li><a href="forum.php?mod=forumdisplay&amp;fid=36">技术交流区</a></li></ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="wp mtn">
        <!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
    </div>


</div>
    <div style="opacity: 0.6;display:none;width: 66%;background-color: cornflowerblue;margin: 0 auto;position: fixed;left: 23%;top: 50%;z-index: 100;" id="alki">
        <form method="post" autocomplete="off" id="fastpostform" action="/forum/forum/add_reply?pid={$pid}&id={$id}" >

        <input type="hidden" id="posts" name="post" >
                    <script>
                        $('#posts').val($('#thread_subject').text());
                    </script>
                    <textarea class="layui-textarea" name="content"  id="LAY_demo2" style="display: none;color:white"></textarea>
                    <p class="ptm pnpost">
                        <button type="submit"  name="replysubmit" id="fastpostsubmit" class="pn pnc vm" value="replysubmit" tabindex="5"><strong>发表回复</strong></button>
                        <a style="display: inline-block"    id="cancel" class="pn pnc vm"><strong>取消</strong></a>
                    </p>

    </form>
</div>
<script src="/Public/js/html5notification.js?MeK" type="text/javascript"></script>

<div id="scrolltop" style="right: 71px; visibility: visible;">
    <span>
        <!--<a href="" onclick="showWindow('reply', this.href)" class="replyfast" title="快速回复"><b>快速回复</b></a>-->
    </span>
    <span hidefocus="true"><a title="返回顶部" onclick="window.scrollTo('0','0')" class="scrolltopa"><b>返回顶部</b></a></span>
    <span>
<a href="/forum/forum/forum_list?pid={$pid}" hidefocus="true" class="returnlist" title="返回列表"><b>返回列表</b></a>
</span>
</div>

<div id="discuz_tips" style="display:none;"></div>
<script type="text/javascript">
    var tipsinfo = '|X3.3|0.6||0||332|10|1522128400||2';
</script>
<style type="text/css" class="nc-style">.nc-container #nc_1_wrapper,.nc-container.tb-login #nc_1_wrapper{width:300px}
.nc-container .imgCaptcha,.nc-container .clickCaptcha{width:298px;}
.nc-container.tb-login .imgCaptcha,.nc-container.tb-login .clickCaptcha{width:300px;}
.nc-container.tb-login .imgCaptcha .captcha-error,.nc-container.tb-login .clickCaptcha .captcha-error{width:292px;}
.nc-container.tb-login .errloading, .nc-container .errloading {width:290px;}</style><script src="http://discuz.gtimg.cn/cloud/scripts/discuz_tips.js?v=1" type="text/javascript" charset="UTF-8"></script>

<div class="bdshare-slide-button-box bdshare-slide-style-r6" style="top: 250px; width: 0px; z-index: 99999; right: 0px;" data-bd-bind="1522128399014"><a href="#" onclick="return false;" class="bdshare-slide-button" style="left: -24px;"></a><div class="bdshare-slide-list-box" style="width: 0px; display: none;"><div class="bdshare-slide-top">分享到</div><div class="bdshare-slide-list"><ul class="bdshare-slide-list-ul" style="width: 226px;"></ul></div><div class="bdshare-slide-bottom" style="width: 226px;"><a href="#" onclick="return false;" class="slide-more" data-cmd="more">更多...</a></div></div></div><script></script>
</div>

<include file="../sz/view/foot.html"></include>
<input type="hidden" value="{$pid}" id="pid">
<input type="hidden" value="{$id}" id="id">
<input type="hidden" id="link">
<script>
window.onload(function () {
    var pid =$('#pid').val();
    var id =$('#id').val();
    $.ajax({
        url:'/forum/forum/forum_list?pid='+pid+'&id='+id,
        type:'post',

    })
})
</script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>

    layui.use('layedit', function(){
var layedit = layui.layedit
,$ = layui.jquery;

//构建一个默认的编辑器
var index = layedit.build('LAY_demo1');

//编辑器外部操作
var active = {
content: function(){
alert(layedit.getContent(index)); //获取编辑器内容
}
,text: function(){
alert(layedit.getText(index)); //获取编辑器纯文本内容
}
,selection: function(){
alert(layedit.getSelection(index));
}
};

$('.site-demo-layedit').on('click', function(){
var type = $(this).data('type');
active[type] ? active[type].call(this) : '';
});

//自定义工具栏
layedit.build('LAY_demo2', {
tool: ['face', 'link', 'unlink', '|', 'left', 'center', 'right']
,height: 100
})
});
</script>
<script>

    layui.use('layedit', function(){
        var layedit = layui.layedit
            ,$ = layui.jquery;

//构建一个默认的编辑器
        var index = layedit.build('LAY_demo2');

//编辑器外部操作
        var active = {
            content: function(){
                alert(layedit.getContent(index)); //获取编辑器内容
            }
            ,text: function(){
                alert(layedit.getText(index)); //获取编辑器纯文本内容
            }
            ,selection: function(){
                alert(layedit.getSelection(index));
            }
        };

        $('.site-demo-layedit').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

//自定义工具栏
        layedit.build('LAY_demo2', {
            tool: ['face', 'link', 'unlink', '|', 'left', 'center', 'right']
            ,height: 100
        })
    });
</script>
<script>

    $(document).ready(function(){
        var clipboard1 = new Clipboard('.copy');
        $('.copy').attr('data-clipboard-text',window.location.href)
        clipboard1.on('success', function(e) {
            console.log(e);
            alert("链接复制成功！")
        });
        clipboard1.on('error', function(e) {
            console.log(e);
            alert("链接复制失败！请手动复制")
        });
    })
</script>
<script>

    $(function () {


        $("#k_favorite").click(function(){
            var ctrl=(navigator.userAgent.toLowerCase()).indexOf('mac')!=-1?'Command/Cmd': 'CTRL';
            if(document.all){
                window.external.addFavorite(window.location.href);
            }
            else if(window.sidebar){
                window.sidebar.addPanel(' 网站名字 ',window.location.href, "");
            }
            else{
                alert('您可以通过快捷键' + ctrl + ' + D 加入到收藏夹');
            }
        })

        $('#cancel').on('click',function () {
            $('#alki').hide()
        })
        $('.fastre').on('click',function(e){
            $('#alki').show();
            e.stopPropagation();
        })
        $('body').on('click',function(){
            $('#alki').hide();
        })




    })
</script>
<script type="text/javascript">
$('.xi1').eq(0).text($('.xi1').eq(0).text())
</script>
</body>
</html>