<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="revised" content="Ningxia Seasons, 2015/8/13/" />
<include file="../sz/view/head.html"></include>


<!-- Bootstrap -->
<link href="/Public/css/user/my_info.css" rel="stylesheet">

<!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style>

    .input-field {
      /* display: block; */
      /* position: absolute; */
      /* padding-left: 12px; */
      /* top: 5px; */
      /* left: 90px; */
      /* width: 310px; */
      /* height: 36px; */
      width: 200px;
      height: 28px;
      line-height: 28px;
      padding-left: 3px;
      margin-right: 10px;
      border: 1px solid #CCC;
    }
    .btn {

      width: 95px;
      height: 33px;
      color: #fff;
      border: 0;
      border-radius: 3px;
      background-color: #F08B2F;
      cursor: pointer;
      z-index: 1;
    }
     .disabled{
      background-color: #DDDDDD;
      color: #9b9b9b;
      cursor: default;
    }
  </style>
</head>
<body>
<include file="../sz/view/header.html"></include>
<!-- 开始 -->
<div style="width: 86%;margin: 0 auto">
<div class="my_info_title">修改密码</div>
<div class="my_info_content">
  <div class="my_info_content_care"></div>
  <table class="my_info_content_care_table">
    <tbody>
      <tr>
        <td width="300" align="right" class="color555">手机号：</td>
        <td class="color555"><input class="my_info_content_care_table_text" name="account" type="text">
          <span class="colorCA1E37 margin_left10 font_size12" id="old_pass"></span></td>
      </tr>

      <tr >
        <td align="right" class="color555">短信验证码：</td>
        <td>
         <input type="text" class="input-field" name="yzm" placeholder="请输入手机短信验证码">
          <span class="colorCA1E37 margin_left10 font_size12" id="yzm"></span>
        <button class="btn send-yzm-pass">获取验证码</button>
        </td>
      </tr>

      <!--<tr>-->
        <!---->
        <!--<td align="right" class="color555">验证码：</td>-->
        <!--<td class="color555"><input class="my_info_content_care_table_text" name="" type="text">-->
            <!--<span class="color959595 margin_left10 font_size12">请输入验证码</span></td>-->
      <!--</tr>-->
      <tr>
        <td align="center" class="color555" colspan="2">
          <span class="colorCA1E37 margin_left10 font_size12" id="pass"></span>
         </td>
      </tr>
      <tr>

        <td align="center" class="color555" colspan="2">
          <input class="my_info_content_care_table_submit" name="" type="submit" value="申请认证"></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<!-- 结束 --> 
<script src="/Public/js/user/jquery-2.1.1.min.js"></script>
<script src="/Public/js/user/my_info.js"></script>
<script src="/Public/js/jsencrypt.min.js"></script>
<script>
  $(function () {
      var encrypt = new JSEncrypt();
      var publickey = '-----BEGIN PUBLIC KEY-----MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBiYEk6LHMqqUm6WJCcSNfjlPZXPj/zHjmuVuU/QLE/yKqv2YEiPiGxaajZdBL4WUNRQxO4Dt4MDrjN43CsAzQj6OT/fDgroPERccBnwAZQr5FTR4GFfhxcoWxT/2nfmIVI7nHoJSeV7nHHwBBwagb4Z5EDrQDKr3vsumk9DY98wIDAQAB-----END PUBLIC KEY-----';
      encrypt.setPublicKey(publickey);
      var cansend=0;
      function setTime(nums){
          $(".send-yzm-pass").html(nums);
          nums = nums-1;
          if(nums<0){
              $(".send-yzm-pass").removeClass("disabled").html("发送验证码");
              $(".send-yzm-pass").attr("data",1);
          }else{
              setTimeout(function(){
                  setTime(nums);
              },1000);
          }

      }
      $('.send-yzm-pass').on('click',function () {
          var account=$('input[name=account]').val();


          if(account==''){
              $('#old_pass').text('请输入手机号');
              return false;
          }else{
              $('#old_pass').text('');
          }
          $.ajax({
              url:'/login/login/send_code',
              dataType:'json',
              data:{'phone':$('input[name=account]').val()},
              success: function(json) {
                  console.log(json)
                  if(json.status===1){
                      cansend++;
                      if(cansend==1){
                          var times=60;
                      }else if(cansend==2){
                          var times=60;
                      }else{
                          var times=60;
                      }
                      $('.send-yzm-pass').addClass("disabled");

                      $('.send-yzm-pass').attr("disabled", true);

                      setTimeout(function(){
                          $(".send-yzm-pass").attr("data",0);
                          $('.send-yzm-pass').attr("disabled", false);
                          setTime(times);
                      },1000);
                  }else if(json.status===0){

                      $('#old_pass').text(json.msg);
                      $(".send-yzm-pass").attr("data",1);
                  }
              }
          })
      })

      $('input[type=submit]').on('click',function () {
          var account=$('input[name=account]').val();

          var yzm=$('input[name=yzm]').val();

          if(account==''){
            $('#old_pass').text('请输入手机号');
            return false;
          }else{
              $('#old_pass').text('');
          }

          if(yzm==''){
              $('#yzm').text('请输入验证码');
              return false;
          }else{
              $('#yzm').text('');
          }
          account    = encrypt.encrypt(account);

          $.ajax({
              url:'/index/user/find_passwords',
              type:'post',
              dataType:'json',
              data:{account:account,yzm:yzm},
              success:function (data) {
                if(data.res=='error'){
                    console
                    $('#old_pass').text(data.msg);
                }else if(data.res=='success'){
                    $('#pass').text('用户密码已加密：'+data.password+',请到http://www.ttmd5.com/hash.php进行解密，谢谢!');
                }
              }
          })

      })

  })
</script>
<include file="../sz/view/foot.html"></include>
</body>
</html>