<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">


<!-- Bootstrap -->
<link href="/Public/css/user/make_head.css" rel="stylesheet">

<!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- 开始 -->
<div class="make_head_title">修改头像</div>
<div class="make_head_content">
  <div class="make_head_content_pic"><input type="button"></div>
  <div class="make_head_content_sm_pic">
    <img src="/Public/member_center/default.jpg"><br>头像100 x 100</div>
</div>

<!-- 结束 --> 
<script src="/Public/js/user/jquery-2.1.1.min.js"></script>
</body>
</html>