<!DOCTYPE html>
<html lang="zh-CN">
<head>


<!-- Bootstrap -->
<link href="/Public/css/user/my_info.css" rel="stylesheet">

<!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- 开始 -->
<div class="my_info_title">我的资料
  <!--<span>-->
  <!--<button type="button" class="but">签到</button>-->
  <!--<p>07月29日<br>-->
    <!--漏签1天</p>-->
  <!--</span>-->
</div>
<div class="my_info_title_3">
  <ul>
    <li id="listClick_1" onclick="listClick(1)" style="border-bottom: 1px solid #C40521; color: #C40521;">基本资料</li>
    <li id="listClick_2" onclick="listClick(2)">修改头像</li>
    <li id="listClick_3" onclick="listClick(3)">身份认证</li>
    <li id="listClick_4"  onclick="listClick(4)">修改密码</li>
    <!--<li id="listClick_45"  onclick="listClick(45)">找回密码</li>-->

  </ul>
</div>
<div class="my_info_content">
  <div class="my_info_content_care">  </div>
  <table class="my_info_content_care_table">
    <tbody>
    <tr>
      <td align="right" class="color555">用户名：</td>
      <td class="color555"><input class="my_info_content_care_table_text" name="username" value="{$user.username}" type="text">
        <span class="colorCA1E37 margin_left10 font_size12" id="name"></span></td>
    </tr>

      <tr>
        <td align="right" class="color555">手机号码：</td>
        <td class="color555">{$user.account}<span class="color959595 margin_left10 font_size12"></span></td>
      </tr>
    <if condition="$user.xgjaccount eq ''">
      <else>
        <tr>
          <td align="right" class="color555">信管家模拟账号：</td>
          <td class="color555">{$user.xgjaccount}<span class="color959595 margin_left10 font_size12"></span></td>
        </tr>
      </else>
    </if>
    <if condition="$user.xgjpass eq ''">
      <else>
        <tr>
          <td align="right" class="color555">信管家模拟账号初始密码：</td>
          <td class="color555">{$user.xgjpass}<span class="color959595 margin_left10 font_size12"></span>
          <span style="color: red">（备注：忘记密码请联系客服）</span>
          </td>
        </tr>
      </else>
    </if>

      <tr>
        <td align="right" class="color555">真实姓名：</td>
        <td class="color555">{$user.name}<span class="color959595 margin_left10 font_size12"></span></td>
      </tr>
      <!--<tr>-->
        <!--<td align="right" class="color555">性别：</td>-->
        <!--<td class="color555"><label>-->
            <!--<input type="radio" name="sex" value="未知" checked>-->
            <!--未知 </label>-->
          <!--<label>-->
            <!--<input type="radio" name="sex"  value="男士">-->
            <!--男士 </label>-->
          <!--<label class="radio-inline">-->
            <!--<input type="radio" name="sex"  value="女士">-->
            <!--女士 </label></td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td align="right" class="color555">邮箱：</td>-->
        <!--<td class="color555"><input class="my_info_content_care_table_text" name="" type="text">-->
          <!--<span class="color959595 margin_left10 font_size12">友好提示：请填写常用邮箱，您忘记密码时可用邮箱找回</span></td>-->
      <!--</tr>-->
      <tr>
        <td align="right" class="color555">QQ：</td>
        <td class="color555"><input class="my_info_content_care_table_text" name="QQ" value="{$user.QQ}" type="text">
          <span class="colorCA1E37 margin_left10 font_size12" id="QQ"></span></td>
      </tr>
      <tr>
      <td align="right" class="color555">微信：</td>
      <td class="color555"><input class="my_info_content_care_table_text" name="wechat" type="text" value="{$user.wechat}">
        <span class="colorCA1E37 margin_left10 font_size12" id="wechat"></span>
      </td>
      </tr>
    <tr>
      <td align="right" class="color555">邮箱：</td>
      <td class="color555"><input class="my_info_content_care_table_text" name="email" type="text" value="{$user.email}">
        <span class="colorCA1E37 margin_left10 font_size12" id="email"></span>
      </td>
    </tr>
    <tr>
      <td align="right" class="color555">个人邀请码：</td>
      <td class="color555">{$user.invite_num}<span class="color959595 margin_left10 font_size12"></span></td>
    </tr>
      <tr>
       <if condition="$user.id_card eq ''">
         <td align="right" class="color555">身份证号：</td>
         <td class="color555"><input class="my_info_content_care_table_text" name="id_card" type="text">
           <span class="colorCA1E37 margin_left10 font_size12" id="prompt"></span></td>
         <else>
           <td align="right" class="color555">身份证号：</td>
           <td class="color555">{$user.id_card}<span class="color959595 margin_left10 font_size12"></span></td>
         </else>
       </if>



      </tr>
      <tr>
        <td align="right" class="color555">&nbsp;</td>
        <td class="color555"><span class="color959595 margin_left10 font_size12">友情提示：网站不会显示您的身份信息，</span></td>
      </tr>

      <tr>
        <td align="right" class="color555">所在城市：</td>
        <input type="hidden" name="prov" value="{$user.prov}">
        <input type="hidden" name="city" value="{$user.city}">
        <input type="hidden" name="dist" value="{$user.dist}">
        <td class="color555"><div id="my_city">
            <select class="prov">
            </select>
            <select class="city" >
            </select>
            <select class="dist" >
            </select>
            <span class="color959595 margin_left10 font_size12"></span> </div></td>
      </tr>
      <tr>
        <td align="right" class="color555">通讯地址：</td>
        <td class="color555"><input class="my_info_content_care_table_text" name="address" type="text">
            <span class="color959595 margin_left10 font_size12">请您如实填写</span></td>
      </tr>
      <tr>
        <td align="right" class="color555">&nbsp;</td>
        <td class="color555"><span class="color959595 margin_left10 font_size12">友好提示：网站前台页面不会显示您的地址，</span></td>
      </tr>

      <tr>
        <td align="center" class="color555" colspan="2"><input class="my_info_content_care_table_submit" name="" type="submit" value="保    存"></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- 结束 -->

<script src="/Public/js/user/jquery-2.1.1.min.js"></script>
<script src="/Public/js/user/my_info.js"></script>
<script src="/Public/js/user/jquery.cityselect.js"></script>

<script type="text/javascript">

// JavaScript Document
$(document).ready(function(){
	$("#my_city").citySelect({
		prov:$('input[name=prov]').val(),
        city:$('input[name=city]').val(),
        dist:$('input[name=dist]').val(),
	});
});

</script>
<script>
  $(function () {
      $('input[type=submit]').on('click',function () {
          var username=$('input[name=username]').val();
          var QQ=$('input[name=QQ]').val();
          var wechat=$('input[name=wechat]').val();
          var id_card=$('input[name=id_card]').val();
          var prov=$('.prov option:selected').text();
          var city=$('.city option:selected').text();
          var dist=$('.dist option:selected').text();
          var address=$('input[name=address]').val();
          var email=$('input[name=email]').val();
          var pattern = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
          if(username==''){
              $('#name').text('用户名不能为空');
              return false;
          }else{
              $('#name').text('');
          }
          if(QQ==''){
              $('#QQ').text('QQ不能为空');
              return false;
          }else{
              $('#QQ').text('');
          }
          if(wechat==''){
              $('#wechat').text('微信号不能为空');
              return false;
          }else{
              $('#wechat').text('');
          }

          if(!pattern.test(id_card)){
            $('#prompt').text('身份证格式错误，请重新输入!');
            return false;
          }else{
              $('#prompt').text('');
          }
          var regex = /^([0-9A-Za-z\-_\.]+)@([0-9a-z]+\.[a-z]{2,3}(\.[a-z]{2})?)$/g;
          if(!regex.test(email)){
              $('#email').text('邮箱格式错误，请重新输入!');

              return false;
          }else{
              $('#email').text('');
          }
          $.ajax({
              url:'/index/user/update_user',
              type:'post',
              dataType:'json',
              data:{email:email,username:username,QQ:QQ,wechat:wechat,id_card:id_card,prov:prov,city:city,dist:dist,address:address},
              success:function (data) {
                    if(data.res==1){
                        alert('保存成功');
                        location.reload();
                    }else{
                        alert('保存失败');
                    }
              }

          })




      })
  })
</script>
</body>
</html>