<div id="view_layout_1_277556399" class="mainSamrtView yibuSmartViewMargin">
    <div class="yibuFrameContent layout_Block2_Item0">
        <style type="text/css">
            .header,.main-wrap .main,.footer { position:relative; clear:both; margin:0 auto; padding:0;}
            .main-wrap .main .content { width:100%;}


        </style>


        <div style="*z-index:11;*position:relative;width:100%;height:150px;margin-left:auto;margin-right:auto;background-color:#4e4e4e">
            <div class="header page_header yibuLayout_tempPanel" style="width:1000px;height:150px;background-color:#4e4e4e;;">
                <div class="runTimeflowsmartView"></div>
            </div>
        </div>
        <div class="main-wrap clearfix" style="*z-index:10;*position:relative;width:100%;margin-left:auto;margin-right:auto;">
            <div class="main clearfix page_main" style="width:1000px;">
                <div class="content yibuLayout_Body" style="min-height:100px;margin-left:auto;margin-right:auto;"id="yibuLayout_center">
                    <div id="view_main_1_277660985" class="mainSamrtView yibuSmartViewMargin">
                        <div class="yibuFrameContent main__Item0" style="width:100%;">
                            <div class="runTimeflowsmartView">
                                <div id="view_navigator_16_277660985" class="yibuSmartViewMargin absPos" oldbottom="321" style="z-index: 999999;">

                        </div>
                            <div class="yibuFrameContent navigator_Style2_Item0 view_navigator_16_277660985_Style2_Item1">
                                <ul id="nav_view_navigator_16_277660985" styleitem="Style2">
                                    <li class="w_nav_item " style="width:14.28%;*width:14%">
                                        <h3>
                                            <a href="" target="_self">
                                                首页
                                            </a>
                                        </h3>
                                    </li>
                                    <li class="w_nav_item" style="width:14.28%;*width:14%">
                                        <h3>
                                            <a href="" target="_self">
                                                国内商品比赛规则
                                            </a>
                                        </h3>
                                    </li>
                                    <li class="w_nav_item" style="width:14.28%;*width:14%">
                                        <h3>
                                            <a href="" target="_self">
                                                外盘比赛说明
                                            </a>
                                        </h3>
                                    </li>
                                    <li class="w_nav_item" style="width:14.28%;*width:14%">
                                        <h3>
                                            <a href="" target="_self">
                                                比赛报名
                                            </a>
                                        </h3>
                                    </li>
                                    <li class="w_nav_item" style="width:14.28%;*width:14%">
                                        <h3>
                                            <a href="" target="_self">
                                                软件下载
                                            </a>
                                        </h3>
                                    </li>
                                    <li class="w_nav_item" style="width:14.28%;*width:14%">
                                        <h3>
                                            <a href="http://www.hzssbbs.com/" target="_blank">
                                                论坛
                                            </a>
                                        </h3>
                                    </li>
                                    <li class="w_nav_item" style="width:14.28%;*width:14%">
                                        <h3>
                                            <a href="" target="_self">
                                                关于我们
                                            </a>
                                        </h3>
                                    </li>
                                </ul>


                                <input type="hidden" id="HeightVariablesStr_view_navigator_16_277660985" value="">

                            </div>
                            <div id="view_photoalbum_93_277660985" class="yibuSmartViewMargin absPos" oldbottom="280">

                                <div class="yibuFrameContent overflow_hidden photoalbum_Style6_Item0 view_photoalbum_93_277660985_Style6_Item0" style="height:280px;width:1000px;"><div class="w_slider w_slider_6_view_photoalbum_93_277660985" style="height:100%;width:100%;">
                                    <ul class="w_slider_img">

                                        <li style="width: 999px; height: 280px; display: none;">
                                            <a href="javascript:void(0)" target="_self">
                                                <img style="height: 280px; display: block;" class="lazyload" src="http://img.bj.wezhan.cn/content/sitefiles/2068479/images/9648792_01.jpeg" data-original="http://img.bj.wezhan.cn/content/sitefiles/2068479/images/9648792_01.jpeg" onload="DynamicLoad(this)" alt="图片0" isload="1">
                                            </a>
                                        </li>
                                        <li style="width: 999px; height: 280px; display: list-item;">
                                            <a href="javascript:void(0)" target="_self">
                                                <img style="height: 280px; display: block;" class="lazyload" src="http://img.bj.wezhan.cn/content/sitefiles/2068479/images/9648791_89.jpeg" data-original="http://img.bj.wezhan.cn/content/sitefiles/2068479/images/9648791_89.jpeg" onload="DynamicLoad(this)" alt="图片1" isload="1">
                                            </a>
                                        </li>
                                        <li style="width: 1000px; height: 280px; display: none;">
                                            <a href="javascript:void(0)" target="_self">
                                                <img style="height: 280px; display: block;" class="lazyload" src="http://img.bj.wezhan.cn/content/sitefiles/2068479/images/9648827_02.jpeg" data-original="http://img.bj.wezhan.cn/content/sitefiles/2068479/images/9648827_02.jpeg" onload="DynamicLoad(this)" alt="图片3" isload="1">
                                            </a>
                                        </li>
                                        <li style="width: 1000px; height: 280px; display: none;">
                                            <a href="javascript:void(0)" target="_self">
                                                <img style="height: 280px; display: block;" class="lazyload" src="http://img.bj.wezhan.cn/content/sitefiles/2068479/images/9651732_05.jpeg" data-original="http://img.bj.wezhan.cn/content/sitefiles/2068479/images/9651732_05.jpeg" onload="DynamicLoad(this)" alt="图片3" isload="1">
                                            </a>
                                        </li>

                                    </ul>



                                    <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                                    <a style="display:block;" class="prev" href="javascript:void(0)"></a>
                                    <a style="display:block;" class="next" href="javascript:void(0)"></a>
                                </div>


                                </div>
                            </div>
                            <div id="view_search_378_277660985" class="yibuSmartViewMargin absPos" oldbottom="-11">
                                <div class="yibuFrameContent search_Style1_Item0 view_search_378_277660985_Style1_Item0" style="height:29px;width:316px;"><!--w_search-->
                                    <!--fontfamily_select-->
                                    <div style="position: absolute; top: 0px; filter: alpha(opacity=0);opacity:0;background-color: #777; z-index: 2; left: 0px; display:none; width: 100%; height: 100%;">
                                    </div>
                                    <div>
                                        <div class="w_search_select">
                                            <span class="w_search_select_txt">文章</span>
                                            <ul class="w_search_select_list" style="background-color: #f0f0f0;">
                                                <li id="1">文章</li>
                                                <li id="2">产品</li>
                                            </ul>
                                            <input type="hidden" id="w_search_select_add" name="w_search_select_add" value="1">

                                        </div>
                                        <!--/fontfamily_select-->
                                        <input type="text" class="w_search_input" placeholder="请输入关键字">
                                        <button class="w_search_btn" type="button">
                                            <i class="iconfont"></i>
                                        </button>
                                    </div>

                                    <!--/w_search-->
                                    <script typeof="text/javascript">
                                        $(function () {
                                            var htmlzindex = $("#view_search_378_277660985").css("z-index");
                                            var hoverIcon = "";
                                            var bannerindex = $("#view_search_378_277660985").parents("[id^=view_banner]").css("z-index");
                                            $('#view_search_378_277660985 .w_search_select').click(function () {
                                                $(this).children("ul.w_search_select_list").toggle(); if ($(this).children("ul.w_search_select_list").css("display") == "none") { $("#view_search_378_277660985").css("z-index", htmlzindex).parents("[id^=view_banner]").css("z-index", bannerindex); } else { $("#view_search_378_277660985").css("z-index", "9999999").parents("[id^=view_banner]").css("z-index", "9999999"); };
                                            });
                                            $('#view_search_378_277660985 .w_search_select').mouseenter(function () {
                                                $(this).children("ul.w_search_select_list").show(); $("#view_search_378_277660985").css("z-index", "9999999").parents("[id^=view_banner]").css("z-index", "9999999");
                                            });
                                            $('#view_search_378_277660985 .w_search_select').mouseleave(function () {
                                                $(this).children("ul.w_search_select_list").hide(); $("#view_search_378_277660985").css("z-index", htmlzindex).parents("[id^=view_banner]").css("z-index", bannerindex);
                                            });
                                            $("#view_search_378_277660985 .w_search_select_list li").click(function () {
                                                var textvalue = $(this).text();
                                                var type = $(this).attr("id");
                                                $(this).parent().siblings(".w_search_select_txt").text(textvalue);
                                                $("#view_search_378_277660985 #w_search_select_add").val(type);
                                            });
                                            if (hoverIcon != "") {
                                                var obj = $("#view_search_378_277660985").find(".w_search_btn i");
                                                obj.unbind("hover");
                                                obj.hover(function () {
                                                        $(this).html(hoverIcon);
                                                    },
                                                    function () {
                                                        $(this).html("");
                                                    });
                                            }

                                            $("#view_search_378_277660985 .w_search_btn").click(function () {
                                                if ("False".toLocaleLowerCase() != "true") {
                                                    var keyword = $("#view_search_378_277660985").find(".w_search_input").val();
                                                    var searchCategory = "";
                                                    var cate = $("#view_search_378_277660985").find("#w_search_select_add").val();
                                                    if (cate == "")
                                                        cate = 0;
                                                    var catename = $("#view_search_378_277660985").find("span.w_search_select_txt").text();
                                                    searchCategory = cate + "|" + catename;
                                                    //新版本重新获取searchCategory
                                                    if (cate == 1) {

                                                    }
                                                    if ("all" == "product" || ("all" == "all" && "on" != "on")) {
                                                        if (cate == 1) {
                                                            searchCategory = "ProductResultTemplate";
                                                        } else {
                                                            searchCategory = "ArticleResultTemplate";
                                                        }
                                                    } else if ("all" == "news" || ("all" == "all" && "on" == "on")) {
                                                        if (cate == 1) {
                                                            searchCategory = "ArticleResultTemplate";
                                                        } else {
                                                            searchCategory = "ProductResultTemplate";
                                                        }
                                                    }
                                                    if (keyword.replace(/(^\s*)|(\s*$)/g, "") == "") {
                                                        if ("2" == "1") {
                                                            alert("Search keywords cannot be empty")
                                                        } else {
                                                            alert("搜索关键字不能为空")
                                                        }
                                                        return;
                                                    }
                                                    if ("False".toLocaleLowerCase() == "false") {
                                                        window.location.href = "/searchresultlist?keyword=" + keyword + "&searchCategory=" + searchCategory + "&htmlSmartId=0&isshowsearch=False";
                                                    } else {
                                                        if ("True".toLocaleLowerCase() != "true") {
                                                            //老版本当前页显示
                                                            TurnPageSmartView("277660985", "", "False", "1", "", "", cate + "|" + catename, keyword, "false");
                                                        } else {
                                                            //新版本（精简）
                                                            TurnNewPageSmartView("277660985", "", "False", keyword, "false");
                                                        }
                                                    }
                                                }
                                            });
                                            $("#view_search_378_277660985 .w_search_input").keydown(function (e) {
                                                if (e.keyCode == 13) {
                                                    $("#view_search_378_277660985 .w_search_btn").click();
                                                }
                                            })
                                            $("#view_search_378_277660985 .yibuFrameContent").removeClass("overflow_hidden");
                                        });

                                    </script>
                                </div>
                            </div>

                            <div id="view_text_382_277660985" class="yibuSmartViewMargin absPos" oldbottom="9">
                                <div class="yibuFrameContent overflow_hidden text_Style1_Item0 view_text_382_277660985_Style1_Item0" style="height:42px;width:298px;">
                                    <style type="text/css">
                                        #view_text_382_277660985_txt ul{ padding-left:20px;}
                                    </style>
                                    <div id="view_text_382_277660985_txt" style="cursor:default; height:100%; width:100%;">
                                        <div class="editableContent " style="line-height:1.5;">
                                            <p><span style="color: rgb(255, 255, 255); font-size: 16px; font-family: 宋体, SimSun;"><strong>中国最具价值交易员选拔网站</strong></span></p>
                                        </div>
                                    </div>
                                    <script>
                                        Pagination('view_text_382_277660985_txt', "首页", "尾页", "上一页", "下一页", textPageCallbackview_text_382_277660985);

                                        function textPageCallbackview_text_382_277660985() {

                                            $(".absPos").each(function () { $(this).removeAttr("oldbottom").removeAttr("expandh").removeAttr("oheight").removeAttr("cheight").css("min-height", '').css("height", '').css("top", '') });

                                            if ($("#view_text_382_277660985").parent(".w_tab_container_item ").length > 0) {
                                                $("#view_text_382_277660985").parent(".w_tab_container_item ").removeAttr("oldbottom").removeAttr("expandh").removeAttr("oheight").removeAttr("cheight").css("min-height", '').css("height", '').css("top", '');
                                            }
                                            if ($("#view_text_382_277660985").parents(".w_tab_container").length > 0) {
                                                $("#view_text_382_277660985").parents(".w_tab_container").removeAttr("oldbottom").removeAttr("expandh").removeAttr("oheight").removeAttr("cheight").css("min-height", '').css("height", '').css("top", '');
                                            }
                                            if ($("#view_text_382_277660985").parents(".w_tab").length > 0) {
                                                $("#view_text_382_277660985").parents(".w_tab").removeAttr("oldbottom").removeAttr("expandh").removeAttr("oheight").removeAttr("cheight").css("min-height", '').css("height", '').css("top", '');
                                            }


                                            yiburecomputeLayoutHeight();
                                            initScrollHeight_view_text_382_277660985();

                                        }
                                        function initScrollHeight_view_text_382_277660985() {
                                            var currentHeight = $("#view_text_382_277660985").height();
                                            var oldHeight = window["view_text_382_277660985" + "_height"];
                                            window["view_text_382_277660985" + "_height"] = currentHeight;
                                            if (oldHeight != undefined) {
                                                var subtract = currentHeight - oldHeight;
                                                if (subtract < 0) {

                                                    if ($("#view_text_382_277660985").parents(".mainSamrtView").length > 0) {
                                                        $("#view_text_382_277660985").parents(".mainSamrtView").each(function () {
                                                            if ($(this).attr("style") != undefined && $(this).attr("style").toLowerCase().indexOf('height') > -1) {
                                                                var height = $(this).height();
                                                                var oheight = $(this).attr("oheight");

                                                                var expandh = $(this).attr("expandh");
                                                                if (oheight != undefined && expandh != undefined) {
                                                                    oheight = parseInt(oheight);
                                                                    expandh = parseInt(expandh);
                                                                    expandh = expandh + subtract;
                                                                    var newHeight = oheight + expandh;
                                                                    $(this).height(newHeight);
                                                                    $(this).attr("expandh", expandh);
                                                                    if ($(this).children(".yibuFrameContent").length > 0) {
                                                                        if ($(this).children(".yibuFrameContent").attr("style") != undefined && $(this).children(".yibuFrameContent").attr("style").toLowerCase().indexOf('height') > -1) {
                                                                            $(this).children(".yibuFrameContent").height(newHeight);
                                                                        }
                                                                    }
                                                                }
                                                            }

                                                        });
                                                    }
                                                }
                                            }
                                            var $txtControl = $('#view_text_382_277660985');
                                            $txtControl.find('img').css({ 'max-width': $txtControl.width() + 'px' });
                                        }
                                        $('#view_text_382_277660985').each(function () {
                                            $(this).find('img').css({ 'max-width': $(this).width() + 'px' });
                                        });
                                        $(function () {
                                            window["view_text_382_277660985" + "_height"] = $("#view_text_382_277660985").height();
                                            $('#view_text_382_277660985').each(function () {
                                                $(this).find('img').css({ 'max-width': $(this).width() + 'px' });
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                        </div></div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        slideMenu("nav_" + 'view_navigator_16_277660985');

        var isDivider = true;

        //子导航下边框显示不出来的fix
        $("#nav_" + 'view_navigator_16_277660985').children("li").each(function () {
            var Li_height = $(this).height();
            $("li", this).height(Li_height);

            var child_li = $("li", this);
            var topborderwidth = $("a:first", child_li).css('border-top-width');
            topborderwidth = isNaN(parseInt(topborderwidth)) ? 0 : parseInt(topborderwidth);
            var bottomborderwidth = $("a:first", child_li).css('border-bottom-width');
            bottomborderwidth = isNaN(parseInt(bottomborderwidth)) ? 0 : parseInt(bottomborderwidth);
            var aheight = Li_height - topborderwidth - bottomborderwidth;
            $("a", child_li).height(aheight);
        });

        jQuery("#nav_" + 'view_navigator_16_277660985').children("li").each(function () {
            var topWidth = $(this).children("h3").children("a").css("border-top-width");
            var leftWidth = $(this).children("h3").children("a").css("border-left-width");
            var bottomWidth = $(this).children("h3").children("a").css("border-bottom-width");



            if (topWidth != "0" && topWidth != "0px") {
                isDivider = false;
                return false;
            }
            if (leftWidth != "0" && leftWidth != "0px") {
                isDivider = false;
                return false;
            }
            if (bottomWidth != "0" && bottomWidth != "0px") {
                isDivider = false;
                return false;
            }


            if ($(this).children("ul").length > 0) {
                var maxWidth = $(this).children("ul").width();
                $(this).children("ul").children("li").each(function () {

                    var a = $(this).children("a");
                    var currentWidth = GetCurrentStrWidth(a.html(), a.css("font-size")) + 20;
                    if (maxWidth < currentWidth)
                        maxWidth = currentWidth;
                });
                $(this).children("ul").css("width", maxWidth + "px");
            }
        });
        //if (isDivider)
        //    jQuery("#nav_" + 'view_navigator_16_277660985').children("li:last").children("h3").children("a").css("border-right-width", "0px");//去掉最后一项的分隔线

        if ("False" == "False") {
            jQuery("#" + 'view_navigator_16_277660985').css("z-index", "999999");
            if (jQuery("#" + 'view_navigator_16_277660985').parent().attr("class") != "runTimeflowsmartView") {//导航可能放在容器控件中了，需要把容器控件的z-index的值设大
                jQuery("#" + 'view_navigator_16_277660985').parent(".w_container_content").parent().parent().css("z-index", "999998");
            }
        }
        SetNavSelectedStyle("nav_" + 'view_navigator_16_277660985', 'nav');//选中当前导航
    })
</script>