<!DOCTYPE html>
<html>
<head>
	<include file="../sz/view/adminhead.html"/>
	<script src="/Public/ueditor/ueditor.config.js" type="text/javascript"></script>
	<script src="/Public/ueditor/ueditor.all.js" type="text/javascript"></script>
	<script src="/Public/js/admin_ue.js" type="text/javascript"></script>
</head>
<body>
	<div class="right_nav"><a href="/{$Request.module}/{$Request.controller}/yt_forum">【返回列表】</a></div>
	<center>
		<form action="/{$Request.module}/{$Request.controller}/add_forum"method="post" enctype="multipart/form-data" style="position:relative;">
			<p style="font-size:20px;margin: 0 0 10px 0">论坛主题：<input type="text" name="title" style="padding:0 5px;width:420px;height:30px;margin:10px 0 0 0;font-size:18px;" id="about_add_title"></p>
			<textarea name="content" id="fullNameSuffix" style="width:95%;height:500px;margin:20px auto;"></textarea>

			<p style="margin:0 0 30px 0;"><button id="about_add_sub" class="sub" type="submit">增加</button><a href="/{$Request.module}/{$Request.controller}/yt_forum" class="back_a" >返回</a></p>
		</form>
	</center>

<script src="/Public/ueditor/ueditor.parse.js"></script>
</body>
</html>