<div class="footer wow bounceInUp animated animated" data-wow-duration=".5s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.2s; animation-name: bounceInUp;bottom: -24px">
    <div class="footer_box01">
        <div class="flink" id="com_indexistop_alinks" editok="online">
            <h3> 友情链接 </h3>
            <div class="flink_l">
                <div class="flink_ll">
                    <div class="rol">
                        <a href="javascript:;" id="btn_focus_next1">
                        </a>
                    </div>
                    <div class="flink_ll clearfix" id="Agentslist1">
                        <ul>
                            <li>
                                <a href="http://www.qq.com/" target="_blank">
                                    <img src="http://picture.no3.mfdns.com/upload/cases/jr839/l04.jpg" alt="腾讯">
                                </a>
                            </li>
                            <li>
                                <a href="http://www.sina.com.cn/" target="_blank">
                                    <img src="http://picture.no3.mfdns.com/upload/cases/jr839/l03.jpg" alt="新浪">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="ror">
                        <a href="javascript:;" id="btn_focus_prev1">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_box02" style="display: none">
        <div class="footer_nav" id="com_othermenu" editok="online">
            <a href="/index/index/index" class="othermenu_a">首页</a>
            <a href="/index/index/rule" class="othermenu_a">活动规则</a>
            <a href="" class="othermenu_a">活动报名/注册</a>
            <a href="/index/index/down" class="othermenu_a">软件下载</a>
            <a href="/index/index/help" class="othermenu_a">常见问题</a>
            <a href="" class="othermenu_a" target="_blank">All-Link</a>
        </div>
        <div class="copyright" id="com_copyright" editok="online"><div>版权所有 Copyright@ 2017 盈透锐新（厦门）网络科技有限公司<br>联系人：许先生 &nbsp;<br>固话：{$Think.config.FENGKONG_PHONE} &nbsp;传真：{$Think.config.FENGKONG_PHONE}<br>地址：{$Think.config.ADDRESS}</div><script type="text/javascript" language="javascript"></script>
        </div>
        <div class="jsq" id="com_webcounter" editok="online">
<span id="com_webcounter" editok="online">
		</span>
        </div>
        <div class="f_right">
            <div class="fsearch">
                <form id="productSearch" name="productSearch" action="/cn/products.htm" method="get">
                    <input type="hidden" id="action" name="action" value="search">
                    <ul>
                        <li><input type="text" id="keywords" name="keywords" class="fs_int" title="输入您想找的关键字或词..." value=""></li>
                        <li><input type="submit" align="middle" value="" class="fs_btn" title="输入您想找的关键字或词..."></li>
                    </ul>
                </form>
            </div>
            <div class="clear">
            </div>
            <div class="fshare" id="com_singles_fshare" editok="online">
                <div class="fshare_t">分享到：</div>
                <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1520835653309"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a></div>
                <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<div class="">
    <div class="demo">


        <div id="service">
            <ul>
                <li>
                    <a href="javascript:void(0)" class="weixin_area">
                        <img src="/Public/img/l02.png" width="47" height="49" class="shows" />
                        <img src="/Public/img/a.png" width="57" height="49" class="hides" />
                        <img src="/Public/img/微信图片_20180330222618.jpg" width="145" class="weixin" style="display:none;margin:-100px 57px 0 0" />
                    </a>
                </li>
                <li>
                    <a href="http://wpa.qq.com/msgrd?v=3&uin=1057875913&site=qq&menu=yes" target="_blank">
                        <div class="hides" style="width:161px;display:none;" id="qq">
                            <div class="hides" id="p1">
                                <img src="/Public/img/ll04.png">
                            </div>
                            <div class="hides" id="p2"><span style="color:#FFF;font-size:13px">1057875913</span>
                            </div>
                        </div>
                        <img src="/Public/img/l04.png" width="47" height="49" class="shows" />
                    </a>
                </li>
                <!--<li id="tel">-->
                    <!--<a href="javascript:void(0)">-->
                        <!--<div class="hides" style="width:161px;display:none;" id="tels">-->
                            <!--<div class="hides" id="p1">-->
                                <!--<img src="/Public/img/ll05.png">-->
                            <!--</div>-->
                            <!--<div class="hides" id="p3"><span style="color:#FFF;font-size:12px">0551-65371998</span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<img src="/Public/img/l05.png" width="47" height="49" class="shows" />-->
                    <!--</a>-->
                <!--</li>-->
                <li id="btn">
                    <a id="top_btn">
                        <div class="hides" style="width:161px;display:none">
                            <img src="/Public/img/ll06.png" width="161" height="49" />
                        </div>
                        <img src="/Public/img/l06.png" width="47" height="49" class="shows" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function() {
        $("#service a").hover(function() {
            if ($(this).prop("className") == "weixin_area") {
                $(this).children("img.hides").show();
            } else {
                $(this).children("div.hides").show();
                $(this).children("img.shows").hide();
                $(this).children("div.hides").animate({marginRight: '0px'}, '0');
            }
        }, function() {
            if ($(this).prop("className") == "weixin_area") {
                $(this).children("img.hides").hide();
            } else {
                $(this).children("div.hides").animate({marginRight: '-163px'}, 0, function() {
                    $(this).hide();
                    $(this).next("img.shows").show();
                });
            }
        });

        $("#top_btn").click(function() {
            $("html,body").animate({scrollTop: 0}, 600);
        });

        //右侧导航 - 二维码
        $(".weixin_area").hover(function() {
            $(this).children(".weixin").show();
        },function(){
            $(this).children(".weixin").hide();
        })
    });
</script>
