<div id="view_layout_1_277556399" class="mainSamrtView yibuSmartViewMargin">
    <div class="yibuFrameContent layout_Block2_Item0">
        <style type="text/css">
            .header,.main-wrap .main,.footer { position:relative; clear:both; margin:0 auto; padding:0;}
            .main-wrap .main .content { width:100%;}


        </style>


        <div style="*z-index:11;*position:relative;width:100%;height:109px;margin-left:auto;margin-right:auto;background-color:#4e4e4e">
            <div class="header page_header yibuLayout_tempPanel" style="width:100%;height:150px;background-color:#4e4e4e;;">
                <div class="runTimeflowsmartView"></div>
            </div>
        </div>
        <div class="main-wrap clearfix" style="*z-index:10;*position:relative;width:100%;margin-left:auto;margin-right:auto;">
            <div class="main clearfix page_main" style="width:86%;">
                <div class="content yibuLayout_Body" style="margin-left:auto;margin-right:auto;"id="yibuLayout_center">
                    <div id="view_main_1_277660985" class="mainSamrtView yibuSmartViewMargin">
                        <div class="yibuFrameContent main__Item0" style="width:100%;">
                            <div class="runTimeflowsmartView">
                                <div id="view_navigator_16_277660985" class="yibuSmartViewMargin absPos" oldbottom="321" style="z-index: 999999;">

                        </div>
                            <div class="yibuFrameContent navigator_Style2_Item0 view_navigator_16_277660985_Style2_Item1">
                                <ul id="nav_view_navigator_16_277660985" styleitem="Style2">
                                    <li class="w_nav_item " style="width:14%;*width:14%">
                                        <h3>
                                            <a href="/index/index/index" target="_self">
                                                首页
                                            </a>
                                        </h3>
                                    </li>
                                    <li class="w_nav_item" style="width:14%;*width:14%">
                                        <h3>
                                            <a href="/index/index/rule" target="_self">
                                               活动规则
                                            </a>
                                        </h3>
                                    </li>
                                    <li class="w_nav_item" style="width:14%;*width:14%">
                                        <h3>
                                            <a href="/index/index/active" target="_self">
                                              活动报名
                                            </a>
                                        </h3>
                                    </li>
                                    <li class="w_nav_item" style="width:14%;*width:14%">
                                        <h3>
                                            <a href="/index/index/down" target="_self">
                                                软件下载
                                            </a>
                                        </h3>
                                    </li>
                                    <li class="w_nav_item" style="width:14%;*width:14%">
                                        <h3>
                                            <a href="/index/index/help" itarget="_self">
                                              常见问题/说明
                                            </a>
                                        </h3>
                                    </li>
                                    <li class="w_nav_item" style="width:14%;*width:14%">
                                        <h3>
                                            <a href="/forum/forum/forum" target="_self">
                                                论坛
                                            </a>
                                        </h3>
                                    </li>
                                    <li class="w_nav_item" style="width:14%;*width:14%">
                                        <h3>
                                            <a href="/index/index/about" target="_self">
                                                关于我们
                                            </a>
                                        </h3>
                                    </li>

                                </ul>


                                <input type="hidden" id="HeightVariablesStr_view_navigator_16_277660985" value="">

                            </div>

                            <!--<div id="view_search_378_277660985" class="yibuSmartViewMargin absPos" oldbottom="-11">-->
                                <!--<div class="yibuFrameContent search_Style1_Item0 view_search_378_277660985_Style1_Item0" style="height:29px;width:316px;">&lt;!&ndash;w_search&ndash;&gt;-->
                                    <!--&lt;!&ndash;fontfamily_select&ndash;&gt;-->
                                    <!--<div style="position: absolute; top: 0px; filter: alpha(opacity=0);opacity:0;background-color: #777; z-index: 2; left: 0px; display:none; width: 100%; height: 100%;">-->
                                    <!--</div>-->
                                    <!--<div>-->
                                        <!--<div class="w_search_select">-->
                                            <!--<span class="w_search_select_txt">文章</span>-->
                                            <!--<ul class="w_search_select_list" style="background-color: #f0f0f0;">-->
                                                <!--<li id="1">文章</li>-->
                                                <!--<li id="2">产品</li>-->
                                            <!--</ul>-->
                                            <!--<input type="hidden" id="w_search_select_add" name="w_search_select_add" value="1">-->

                                        <!--</div>-->
                                        <!--&lt;!&ndash;/fontfamily_select&ndash;&gt;-->
                                        <!--<input type="text" class="w_search_input" placeholder="请输入关键字">-->
                                        <!--<button class="w_search_btn" type="button">-->
                                            <!--<i class="iconfont"></i>-->
                                        <!--</button>-->
                                    <!--</div>-->


                                <!--</div>-->
                            <!--</div>-->

                            <div id="view_text_382_277660985" class="yibuSmartViewMargin absPos" oldbottom="9" style="width: 86%">
                                <div class="yibuFrameContent overflow_hidden text_Style1_Item0 view_text_382_277660985_Style1_Item0" style="height:42px;width:100%;">
                                    <style type="text/css">
                                        #view_text_382_277660985_txt ul{ padding-left:20px;}
                                    </style>
                                    <div id="view_text_382_277660985_txt" style="cursor:default; height:100%; width:100%;">
                                        <div class="editableContent " style="line-height:1.5;">

                                            <p><span style="color: rgb(255, 255, 255); font-size: 16px; font-family: 宋体, SimSun;"><strong>中国最具价值交易员选拔网站</strong></span>
                                                <notempty name="Think.session.phone">
                                                    <span style="float: right;"><a href="" target="_self" style="color:white">您好，</a> &nbsp;<a href="" style="color:white">{$Think.session.phone}</a>&nbsp;&nbsp;&nbsp;<a href="/Login/Login/logout" style="color:white" >退出</a></span>
                                                    <else>
                                                        <span style="float: right;"><a href="/index/index/login" target="_self" style="color:white">登录</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="/index/index/register" style="color:white" >注册</a></span>
                                                    </else>
                                                </notempty>



                                                
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

