<meta charset="UTF-8">
<title>梦想者天堂</title>

<meta name="renderer" content="webkit">

<meta name="viewport" content="width=device-width, initial-scale=0.5, minimum-scale=0.5, maximum-scale=0.5, user-scalable=yes" />


<link rel="stylesheet" href="/Public/css/layout.css">
<link rel="stylesheet" type="text/css" href="/Public/css/common.css" />
<link rel="stylesheet" href="/Public/css/layui.css"  media="all">
<link rel="stylesheet" href="/Public/css/base.pc.css" type="text/css">
<link href="/Public/css/iconfont.css" rel="stylesheet">
<link href="/Public/css/pager.css" rel="stylesheet">
<link rel="stylesheet" href="/Public/css/ddsmoothmenu.css">
<link rel="stylesheet" href="/Public/css/dll.css">
<link rel="stylesheet" href="/Public/css/font.css">
<link rel="stylesheet" href="/Public/css/main.css">
<link href="/Public/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/Public/css/277660985_zh-CN.css" type="text/css">
<link href="/Public/js/discuz_tips.css?v=1"/>

<link rel="stylesheet" type="text/css" href="/Public/css/style_1_common.css?MeK">
<link rel="stylesheet" type="text/css" href="/Public/css/style_1_forum_index.css?MeK">
<link rel="stylesheet" id="css_extstyle" type="text/css" href="/Public/css/style.css?Mek">
<link rel="stylesheet" href="/Public/css/slide_share.css?Mek">
<link rel="stylesheet" href="/Public/css/style_1_forum_forumdisplay.css?Mek">
<script type="text/javascript" src="/Public/js/jquery.js" ></script>
<script type="text/javascript" src="/Public/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/Public/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/Public/js/public.common.min.js"></script>
<script type="text/javascript" src="/Public/js/jquery.lazyload.min.js"></script>
<script src="/Public/js/kino.razor.min.js"></script>
<script type="text/javascript" src="/Public/js/underscore-min.js"></script>
<script type="text/javascript" src="/Public/js/jquery.slider.js"></script>
<script type="text/javascript" src="/Public/js/jquery.color.js"></script>
<script type="text/javascript" src="/Public/js/searchExt.js"></script>
<script language="javascript" type="text/javascript" id="yibuHeaderScript"></script>
<script type="text/javascript" src="/Public/js/velocity.min.js"></script>
<script type="text/javascript" src="/Public/js/velocity.ui.min.js"></script>

<script src="/Public/js/public.js"></script>
<script src="/Public/js/index.js"></script>
<script src="/Public/js/jsencrypt.min.js"></script>
<script src="/Public/js/layui.js" charset="utf-8"></script>
<script src="/Public/js/forum.js?MeK" type="text/javascript"></script>
<script rel="stylesheet" href="/Public/js/share.js?v=89860593.js?cdnversion=422812"></script>
<script src="/Public/js/uac.js?_t=211406"></script>
<script src="/Public/js/um.js"></script>
<script src="/Public/js/smilies.js"></script>
<script src="/Public/js/common_smilies_var.js?Mek"></script>
<script src="/Public/js/lay/modules/upload.js"></script>
<style>

    #service{width:161px;height:290px;position:fixed;top:350px;right:0px; z-index:100;}
    *html #service{margin-top:258px;position:absolute;top:expression(eval(document.documentElement.scrollTop));}
    #service li{width:161px;height:60px;}
    #service li img{float:right;}
    #service li a{height:49px;float:right;display:block;min-width:47px;max-width:161px;}
    #service li a .shows{display:block;}
    #service li a .hides{margin-right:-143px;cursor:pointer;cursor:hand;}
    #service li a.weixin_area .hides{display:none;position:absolute;right:143px;}
    #service li a.weixin_area .weixin{display:none;position:absolute;right:0;top:48px}
    #p2{width:112px;background-color:#A7D2A9;height:47px;margin-left:47px;border:1px solid #8BC48D;text-align:center;line-height:47px}
    #p3{width:112px;background-color:#EC9890;height:47px;margin-left:47px;border:1px solid #E6776C;text-align:center;line-height:47px}
    #p1{width:47px;height:49px;float:left}
    a:hover{text-decoration: none}

</style>
<script>

</script>










