<!DOCTYPE html>
<html>
<head>
<include file="../sz/view/adminhead.html"/>
<script>
	var appUrl="__APP__";
</script>
</head>
<body>
	<div id="right">
		<div class="right_nav"><a href="{$Request.module}/{$Request.controller}/yt_download">【返回列表】</a></div>
		<div class="right_content">
		<form action="/{$Request.module}/{$Request.controller}/add_downloadcomputer" method="post" enctype="multipart/form-data">
			<p>名称：　<input type="text" name="name" autocomplete="off" class="text name"></p>
			<p>文件：　<input type="file" name="file" id="download_field"></p>
			<p style="height:100px;"><b style="font-weight:normal;position:relative;bottom:70px;padding:0;">备注：　</b><textarea name="remark" style="width:330px;height:90px;font-size:16px;padding:5px 10px;"></textarea></p>
			<button type="submit" class="sub">添加</button><a href="/{$Request.module}/{$Request.controller}/yt_download" class="back_a" >返回</a>
		</form>
		</div>
	</div>
</body>
</html>