<!DOCTYPE html>
<html>
<head>
	<include file="../sz/view/adminhead.html"/>
	<script>
        var appUrl="__APP__";
	</script>
</head>
<body>
<div id="">
	<div class="right_nav"><a href="/{$Request.module}/{$Request.controller}/yt_link">【返回列表】</a></div>
	<div class="right_content">
		<form action="/{$Request.module}/{$Request.controller}/add_link" method="post" enctype="multipart/form-data">
			<p>名　称：　<input type="text" name="name" autocomplete="off" class="text name"></p>

			<p>U　R  L：　<input type="text" name="url" autocomplete="off" class="text name"></p>
			<p>文　件：　<input type="file" name="file"></p>

			<button type="submit" class="sub">添加</button><a href="/{$Request.module}/{$Request.controller}/yt_link" class="back_a" >返回</a>
		</form>
	</div>
</div>
</body>
</html>