<!DOCTYPE html>
<html>
<head>
<include file="../sz/view/adminhead.html"/>
<script>
	var appUrl="__APP__";
</script>
</head>
<body>
	<div id="right">
		<div class="right_nav"><a href="/{$Request.module}/{$Request.controller}/yt_download">【返回列表】</a></div>
		<div class="right_content">
		<form action="/{$Request.module}/{$Request.controller}/update_downloadPhone/update/{$info.id}" method="post" enctype="multipart/form-data">
			<p>名　　称：　<input type="text" name="name" autocomplete="off" class="text name" value="{$info.name}"></p>
			<p style="margin-top:8px;">原二维码：　<img src="{$info.erweima}" height="150" width="150" style="vertical-align:middle;" id=""></p>
			<p>二 维 码：　<input type="file" name="img" id="imageupload" accept="image/gif,image/jpeg,image/jpg,image/png"><span><button type="button" id="clearFile">清空选择</button>（未选择文件则保持原图）</span></p>
			<p>　　　　　　<img src="" alt="" id="imageview" width=150 height=150></p>
			<p style="height:100px;"><b style="font-weight:normal;position:relative;bottom:70px;padding:0;">备　　注：　</b><textarea name="remark" style="width:330px;height:90px;font-size:16px;padding:5px 10px;">{$info.remark}</textarea></p>
			<button type="submit" class="sub" >修改</button><a href="/{$Request.module}/{$Request.controller}/yt_download" class="back_a" >返回</a>
		</form>
		</div>
	</div>
</body>
</html>