@charset "utf-8";
/* 语言版本 */

/* ---------------开始---------------- */

/*全站共用功能*/
.languag{padding-top:5px; float:right;}
.languag li{float:left;width:60px;}
.languag li a{}
.languag li a img{ float:left;padding-top:0px;}

/* -----搜索样式-----*/ 

/*#action{ display:none;}
#keywords{width:142px; height:20px; border:0; padding:0 5px; margin:0; color:#e2bc81; line-height:20px; background:url(../Images/icon02.jpg) no-repeat left top;}
.search_btn{width:56px; height:20px; border:0; padding:0; margin:0; color:#FFF; background:url(../Images/btn_search.png) no-repeat left top; cursor:pointer;}

.topr_form li{float:left;}
.topr_form input.int_in{width:142px; height:20px; border:0; padding:0 5px; margin:0; color:#e2bc81; line-height:20px; background:url(../Images/icon02.jpg) no-repeat left top;}
.topr_form input.int_btn{width:56px; height:20px; border:0; padding:0; margin:0; color:#FFF; background:url(../Images/btn_search.png) no-repeat left top; cursor:pointer;}*/



/*栏目列表*/

/*友情连接*/
.p_l_list ul{width:890px;}
.p_l_list li{float:left; display:inline; margin:0 7px 10px 8px; width:112px;}
.p_l_list li a{display:block; width:112px;}
.p_l_list li a img{ width:112px; height:44px;}
.p_l_list li a span{display:block; height:30px; font-size:14px; line-height:30px;text-align:center; display:none;}



 /*width:239px; height:50px;*/

/*下载*/
.n_d_list li{height:36px; line-height:36px; border-bottom: 1px dashed #c6c6c6;;}
.n_d_list li a{display:block; float:left; width:700px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.n_d_list li span{display:block; float:right; width:100px; text-align:right;}



/*招聘*/
.n_j_list li{height:36px; line-height:36px; border-bottom: 1px dashed #c6c6c6;}
.n_j_list li a{display:block; float:left; width:700px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.n_j_list li span{display:block; float:right; width:100px; text-align:right;}


/*新闻*/
.p_newsf{width:890px; padding-bottom:20px; margin-top:20px; border-bottom:1px dashed #dcdcdc;}
.p_newsi{float:left; width:300px; height:250px; overflow:hidden;}
.p_newsi img{ width:300px; height:250px;}
.p_newsc{float:right; width:560px;}
.p_newsc h3{display:block; line-height:30px; height:60px; font-size:16px; margin-bottom:10px; font-weight:bold; overflow:hidden; width:560px; margin-bottom:20px;}
.p_newsc span{display:block; line-height:24px; height:96px; overflow:hidden; margin-bottom:20px;}
.p_newsc ins{display:block; line-height:40px; text-decoration:none;}




.p_newsf1{width:890px; padding-bottom:20px; margin-top:20px; border-bottom:1px dashed #dcdcdc;}
.p_newsc1{float:right; width:890px;}
.p_newsc1 h3{display:block; line-height:30px; height:30px; font-size:16px; margin-bottom:10px; font-weight:bold; overflow:hidden; width:890px;}
.p_newsc1 span{display:block; line-height:24px; height:48px; overflow:hidden; margin-bottom:10px;}
.p_newsc1 ins{display:block; line-height:40px; text-decoration:none;}



.n_n_list li{ line-height:36px; padding-bottom:10px; margin-bottom:20px;}
.n_n_list li a{display:block; float:left; width:680px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; background:url(/templates/images/icon03.png) no-repeat left center; text-indent:15px;}
.n_n_list li span{display:block; float:right;}

.n_n_n_list li{ line-height:36px; padding-bottom:10px; margin-bottom:20px;}
.n_n_n_list li a{display:block; width:788px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; background:url(/templates/images/icon08.jpg) no-repeat bottom; padding-bottom:20px; font-size:16px; font-weight:bold; color:#333333;}
.n_n_n_list li .infos{ padding:10px 0px 0px 0px; line-height:26px;}


/*产品*/
.p_p_list ul{width:100%;}
.p_p_list li{float:left; display:inline; margin:0 13px 10px 13px; width:270px;}
.p_p_list li a{display:block; width:270px;}
.p_p_list li a img{ width:270px; height:200px;}
.p_p_list li a span{ text-align:center;display:block; height:30px; font-size:14px; line-height:30px; width:270px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}

/*视频*/
.p_v_list ul{width:100%;}
.p_v_list li{float:left; display:inline; margin:0 13px 10px 13px; width:270px;}
.p_v_list li a{display:block; width:270px;}
.p_v_list li a img{ width:270px; height:200px;}
.p_v_list li a span{ text-align:center;display:block; height:30px; font-size:14px; line-height:30px; width:270px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}


/* ---------------结束---------------- */


/* ---------------开始首页内容------------------ */
/* 首页推荐新闻*/
.i_n_list{}
.i_n_list .nlist2 li{line-height:24px; padding-left:8px; width:224px; display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; background:url(../images/icon4.gif) no-repeat 8px 10px; padding-left:15px;}
.i_n_list .nlist2 a{display:block; width:220px; overflow:hidden;float:left;font-size:12px; text-align:left; white-space:nowrap;text-overflow:ellipsis;}
.i_n_list .nlist2 a:hover{ text-decoration:none;}

.i_n_list .i_title li{width:90px;}
.i_n_list .i_title a{float:left; padding-left:13px;font-size:12px; text-align:left;display:block; overflow:hidden; white-space:nowrap;text-overflow:ellipsis; background:none; color:#616161;}
.i_n_list .i_title a:hover{ color:#fff;}

/* 首页推荐产品 */
/* 首页友情链接图片列表式 */
.i_l_list{ display:inline-block;}
.i_l_list a{display:block; display:inline; overflow:hidden; float:left; width:30.5%; margin:5px;line-height:22px;white-space:nowrap;text-overflow:ellipsis;}
.i_l_list img{ display:block;width:96%;height:80px; padding:1px;border:1px solid #C4C4C4;}
.i_l_list a:hover img{border:1px solid #900; }


/* 翻页按钮 */
.navPage{clear:both;padding:15px 0px 10px 0px;font-size:14px;font-family:arial,simsun,sans-serif; text-align:center;  width:600px; float:left;}
.navPage ul{ text-align:center;}
.navPage li{float:left; margin-right:5px;}
.navPage a{display:block; color:#b8010f;width:26px; height:26px; display:block; border:1px solid #c6c6c6; line-height:26px; color:#333;}
.navPage a:hover,a.pagebarCurrent{color:#fff;text-decoration:none; font-weight:bold; border:1px solid #559fea; background-color:#559fea;}
/* ---------------结束栏目列表---------------- */


/*产品分类*/

.sidebar{}
.sortnavt{height:120px; background:url(../Images/header_bg.jpg) no-repeat center center; text-align:center;}
.sortnavt h3{display:block; height:34px; padding-top:30px; font-size:24px; color:#f8f6f2; line-height:34px;}
.sortnavt span{display:block; height:25px; font-size:14px; color:#f8f6f2; line-height:25px;}
.sidebar_l{width:230px; padding:29px 0 10px;}
.sortnavul{}
.sortnavul li{width:230px; line-height:50px; font-size:14px;}
.sortnavul li a{display:block; width:225px; color:#FFF; text-indent:50px; border-left:5px solid #2f88da;}
.sortnavul li a:hover{color:#202020; background:#FFF; border-left:5px solid #dd1d32;}

/*.pl_title{height:120px; background:url(../Images/header_bg.jpg) no-repeat center center; text-align:center;}
.pl_title h3{display:block; height:34px; padding-top:30px; font-size:24px; color:#f8f6f2; line-height:34px; }
.pl_title span{display:block; height:25px; font-size:14px; color:#f8f6f2; line-height:25px; }
.sidebar li{width:230px; height:50px; line-height:50px; font-size:14px;}
.sidebar li a{display:block; width:225px; color:#FFF; text-indent:50px; border-left:5px solid #2f88da;}
.sidebar li a:hover{ color:#202020; background:#FFF; border-left:5px solid #dd1d32;}
.sidebar li a.on{ color:#202020; background:#FFF; border-left:5px solid #dd1d32;}*/



/*单页图文分类*/

.sortnavbtn{ background: url(../images/lb.gif) no-repeat scroll 40px 0 transparent; color: #D4D4D4; font-weight: bold;line-height: 32px;}
.sortnavbtn a{background: url(../images/lb.gif) no-repeat 40px 0;color: #D4D4D4;display: block;font-weight: bold;line-height: 32px;overflow: hidden;padding-bottom: 8px;padding-left: 50px;text-overflow: ellipsis;white-space: nowrap; width: 177px;}
.sortnavbtn a:hover{line-height:32px; background:url(../images/lhover.gif) no-repeat 40px 0px;padding-left:50px; color:#c30708;font-weight:bold; text-decoration:none;}
/*首页产品分类*/
.i_ullist_sortnav{float:left;}
.i_ullist_sortnav li{ border-bottom:1px solid #ffefe1; width:150px;}


/* ---------------开始栏目详细---------------- */

/*产品展示详细*/
.productview{ position:relative;}
.producttitle{display:block;width:100%; padding:10px auto;line-height:30px;font-size:16px;font-weight:bold; text-align:center;}
/*默认*/
.productimg{margin:0 auto; text-align:center; padding-bottom:15px; display:block; width:600px;}
.productinfos{ overflow:hidden; display:none; text-align:center; }
.productimg a { }
.productimg a img{margin:0;padding:0;width:600px;}
.productimg a:hover img{}
/*IE6固定大小*/
*html .productimg a img{ width:400px;}
/*展示1*/
.productbigimg{ position:absolute; display:inline; width:100%;text-align:center;}
.productinfoslist{overflow:hidden;padding-left:330px; height:330px;}
.shopping{ padding-left:80px;}
.productinfoslistfos{ margin:20px 0px; float:left; width:340px;}
.productinfoslist ul{width:330px; padding-bottom:20px;}


.productremark{ clear:both;line-height:25px;}
.productremark .title{overflow: hidden; font-weight:bold; line-height:29px; display:none;}

/*内容详细页*/
.p_n_title{width:100%;text-align:center;line-height:30px;font-size:16px;font-weight:bold;text-overflow:ellipsis;}
.remark{line-height:22px; padding-top:10px; line-height:25px;}
.remark1{line-height:22px; line-height:25px;}
/*下载链接*/
.download_btn{text-align:center;line-height:30px;}
/*新闻详细*/
.p_n_info{line-height:30px; text-align:right;}
.p_n_video{text-align:center;}
/* 产品/视频详细 */
.product_others{ padding-top: 8px; clear: both; padding-left: 8px; }
.product_others li{	display: block;	clear: both;line-height: 20px;}
.onlinebuy_list .pc01{width:500px;margin:0 auto; text-align:center;}
/*.onlinebuy_list .pc01 img{width:500px;}*/
.onlinebuy_list .pc01 img{border:1px solid #bcbcbc;margin:0;padding:0;max-width:500px;width:expression(this.width>500?"500px":this.width);max-height:500px; height:expression(this.height>500?"500px":this.height);}
.onlinebuy_list .pc01 a:hover img{border:1px solid #900;}
/*IE6固定大小*/
*html .onlinebuy_list .pc01 img{ width:400px;}
.viewproduct_infos{clear:both;padding-left:8px;overflow: hidden;}
/*导航上下记录*/
.prevnext{width:100%;padding:10px 0;line-height:20px;}
.prevrecord,.nextrecord{display:block;overflow:hidden;width:100%;white-space:nowrap;text-overflow:ellipsis;}

/* 留言 */
.gbook_formbtn{padding:4px;}
.gbook_formbtn goback_btn{clear:both;margin-left:150px;background:#888888;color:#FFFFFF;border:solid 1px #666666;font-size:11px;font-weight:bold;padding:4px 6px;}
.gbook_formbtn input{width:100px;line-height:20px; margin-right: 8px; border:solid 1px #dedede;color:#25262b;background:#f6f5fa;cursor:pointer;}
.gbook_indexpost{margin-bottom:8px;}
.gbook_tblist{margin-bottom:4px;}
.p_g_gbook{padding: 0px; }
.p_g_title{font-weight:bold;line-height:30px;text-align:left; padding-left:10px; clear: both;}
.p_g_content{text-align:left;line-height:24px; padding:0 5px; clear: both;}
/* 招聘 */
.p_jv_jobs{ line-height:24px; margin:0px 0px; padding:0px;}
.p_jv_jobs .jobs{height:33px;}
.i_p_list .p_jv_item{ clear:both; width:660px;}
.p_jv_title{float:left;clear:left;text-align:left;font-weight:bold;}
.p_jv_cont{float:left;text-align:left;}
.p_jv_contb{text-align:left;clear:both;padding:0 0 10px 20px;}
/* 网站地图 */
.p_m_div{ margin:auto; clear: both; text-align:left; overflow:hidden; width:100%;}
.p_m_div a{line-height:20px;height:20px; font-size:12px;}
.p_m_div a:hover{line-height:20px;font-size:12px;}
.p_m_ul{margin:0 0 6px 0;	display: table; border-bottom: dashed 1px #d7d7d7;width:100%; padding:0px;}
.p_m_div2 .p_m_ul{margin:0px;float:left;width:auto;border:none; padding-left:10px;}
.p_m_menu{ font-weight: bold; clear: both;}
.i_p_list .p_m_ul li,.menusort_list li{white-space: nowrap; width:653px;}
.p_m_class,.menusort_lists{margin-left: 24px;}
.p_m_div2 {margin:0 10px 0 0;}
/* ----开始网站Rss订阅中心---- */
.onlinerss{width:220px;margin:0 0 10px;padding-bottom:5px;border:solid #dbdbdb 1px;background:#f0f0f0;}
.onlinerss dl {width:214px;height:28px;margin:0 auto; padding-top:6px;background:url(../images/t1.jpg) no-repeat bottom; }
.onlinerss dt { float:left;padding-left:25px;color:#fff; line-height:20px; font-size:14px;}
.onlinerss dt a,.onlinerss dt a:hover{color:#fff;text-decoration:none;}
.onlinerss li{padding-bottom:10px;text-align:center; }
.onlinerss li a.a1{display:block;overflow:hidden;width:200px;height:170px;margin:0 auto;border:1px solid #cbc5bf; }
.onlinerss li a.a1 img{width:200px;}
.onlinerss li a.a2{display:block;overflow:hidden;width:200px;margin:0 auto;;line-height:22px;white-space:nowrap;text-overflow:ellipsis}
.onlinerss .singletxt_main{width:192px;margin:0 auto; padding:10px; border:solid #c8c8c8 1px; border-top:none; background:#fff;  line-height:20px;}
.main_rssxmllist{clear:both;display:block;}
.main_rssxmllist ul{display:block;padding-bottom: 2px; padding:0px; margin:0px;}
.rssmain_topbar{clear:both;display:block;height:24px;line-height:24px;padding:0px 4px;border:solid 1px #d7d7d7;}
.rssmain_toptit{float:left;font-weight:bold;}
.rssmain_topbtn{display:block;float:right;padding-top:2px;}
.rssmain_topbtn .rssxml_url{display:block; margin:4px 15px 0 0;float:left;line-height:20px;}
.rssmain_topbtn .rssxml_btn{display:block;float:left;line-height:20px;}
.rssxml_btn .subscribe_btn{ clear:both;display:block;cursor:pointer;background:url(../../images/rss_icon.jpg) no-repeat left center;padding:2px 4px 0px 20px}
.rssxml_btn .subscribe_list{top:22px;right:-5px;z-index:1000;position:absolute;padding:4px;border:solid 1px #DDD;background-color:#FFF;}
.subscribe_list a{clear:both;display:block;padding:4px;}
.viewitem_list{margin:0px;padding:4px 4px 8px;}
.viewitem_list ul{margin:0px;padding:0px;display:table;width:100%;line-height:20px;}
.viewitem_list ul li{ line-height:20px;}
.viewitem_list ul li a{ display:block;float:left; width:500px; white-space:nowrap; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.viewitem_list ul span{float:right; padding-right:0px;}
#com_pmodule_rssonline{text-align:center; margin:0 auto;}
#com_pmodule_rssonline li{padding:3px 0;}
#com_rssonline li{text-align:center; margin:0 auto; padding:5px 0;}

.sidebar{}
.sidebar .rss1{background: url(../images/t1.jpg) no-repeat scroll 0 0 transparent;height: 29px;width: 194px;}
.sidebar .rss1 span{ color: #fff;font-size: 14px;font-weight: bold;line-height: 32px;padding-left: 34px;}
.sidebar .rss1 span a{  color: #fff;}


/* ------在线调查---- */
.survey_indexshow{margin:0px 0 15px 5px;}
.survey_indexpost{padding-left: 20px;margin-bottom: 8px;}
.survey_post input{ border: 0px;}
.survey_postbtn{line-height: 30px;}
.survey_postbtn input{line-height:20px; margin-right: 8px; cursor: pointer; width: 100px;   background:#ddd; color:#25262b;border:solid 1px;}
/* ---------------结束栏目详细---------------- */


/* ---------------开始扩展区----------------- */

#com_definedkeys_1,#com_definedkeys_2,#com_definedkeys_3,#com_definedkeys_4{ margin-bottom:-6px;}
.i_u_def1,.i_u_def2,.i_u_def3,.i_u_def4,.p_u_def1,.p_u_def2,.p_u_def3,.p_u_def4{overflow:hidden;}
.move_divouter .content{overflow:hidden;line-height:20px;}
.move_divouter .list{overflow:hidden; }
.move_divouter .title a{ text-decoration:none;}
#index #com_definedkeys_1{display:inline;}

.i_u_def1{ width:1170px; background-color:#fff; margin-top:20px; padding:0px 15px;}
.i_u_def1 .title{border-bottom: 1px solid #ededed; height: 44px;}
.i_u_def1 .title .tt{color: #000;display: block;font-size: 18px;height: 30px;line-height: 44px; font-weight:bold; float:left;}
.i_u_def1 .title .tm{float: right;font-size: 12px;line-height: 44px;padding-right: 10px;color: #636363;}
.i_u_def1 .content{ line-height: 25px; width:1170px; padding:10px 0px; }
.i_u_def1 .list {width:1170px; padding:10px 0px; }
.i_u_def1 .list ul{}
.i_u_def1 .list li{float:left; padding:0px 11px 0px 11px; width:270px;}
.i_u_def1 .list li img{ width:270px; height:200px;}
.i_u_def1 .list li span{float:left; width:270px; line-height:30px; text-align:center; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}

#index #com_definedkeys_2{display:inline;float:left;}
.i_u_def2{width:412px; background-color:#fff; margin-top:20px; padding:0px 15px;}
.i_u_def2 .title{border-bottom: 1px solid #ededed; height: 44px;}
.i_u_def2 .title .tt{color: #000;display: block;font-size: 18px;height: 30px;line-height: 44px; font-weight:bold; float:left;}
.i_u_def2 .title .tm{float: right;font-size: 12px;line-height: 44px;padding-right: 10px;color: #636363;}
.i_u_def2 .content{ line-height: 25px; width:412px; padding:10px 0px; }
.i_u_def3 .list {width:412px; padding:10px 0px; }
.i_u_def2 .list li{background: rgba(0, 0, 0, 0) url(/templates/Images/icon02.jpg) no-repeat scroll left center;float: left;line-height: 30px;text-indent: 12px;width: 412px;}
.i_u_def2 .list li a{display: block; float: left; overflow: hidden; text-indent: 13px; text-overflow: ellipsis; white-space: nowrap; width: 412px;}

#index #com_definedkeys_3{}
.i_u_def3{ background-color:#fff; margin-top:20px; padding:0px 15px; width:703px;}
.i_u_def3 .title{border-bottom: 1px solid #ededed; height: 44px;}
.i_u_def3 .title .tt{color: #000;display: block;font-size: 18px;height: 30px;line-height: 44px; font-weight:bold; float:left;}
.i_u_def3 .title .tm{float: right;font-size: 12px;line-height: 44px;padding-right: 10px;color: #636363;}
.i_u_def3 .content{ line-height: 25px; width:703px; padding:10px 0px; }
.i_u_def3 .list {width:703px; padding:10px 0px; }
.i_u_def3 .list ul{}
.i_u_def3 .list li{float:left; padding:0px 7px 0px 7px; width:220px;}
.i_u_def3 .list li img{ width:220px; height:163px;}
.i_u_def3 .list li span{float:left; width:220px; line-height:30px; text-align:center; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}

#com_definedkeys_4{}
.i_u_def4{ width:1170px; background-color:#fff; margin-top:20px; padding:0px 15px;}
.i_u_def4 .title{border-bottom: 1px solid #ededed; height: 44px;}
.i_u_def4 .title .tt{color: #000;display: block;font-size: 18px;height: 30px;line-height: 44px; font-weight:bold; float:left;}
.i_u_def4 .title .tm{float: right;font-size: 12px;line-height: 44px;padding-right: 10px;color: #636363;}
.i_u_def4 .content{ line-height: 25px; width:1170px; padding:10px 0px; }
.i_u_def4 .list {width:1170px; padding:10px 0px; }
.i_u_def4 .list ul{}
.i_u_def4 .list li{float:left; padding:0px 11px 0px 11px; width:270px;}
.i_u_def4 .list li img{ width:270px; height:200px;}
.i_u_def4 .list li span{float:left; width:270px; line-height:30px; text-align:center; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}





.p_u_def1 {width:230px; margin-bottom:10px;}
.p_u_def1 .title{background:url(/templates/images/header_bg.jpg);color: #fff;height: 64px;overflow: hidden;padding-top: 30px;text-align: center;}
.p_u_def1 .title .tt{display: block;font-size: 24px;font-weight: bold;height: 34px;line-height: 34px;}
.p_u_def1 .title .tm{float: right; display:none;}
.p_u_def1 .content{padding: 10px 10px;width: 210px; color:#fff;}
.p_u_def1 .list{padding: 10px 10px;width: 210px;}
.p_u_def1 .list li{line-height: 30px; width: 210px;}
.p_u_def1 .list li a{display: block; overflow: hidden; text-overflow:ellipsis; white-space:nowrap; width: 210px; color:#fff;}

.p_u_def2 {width:230px; margin-top:10px;}
.p_u_def2 .title{background:url(/templates/images/header_bg.jpg);color: #fff;height: 64px;overflow: hidden;padding-top: 30px;text-align: center;}
.p_u_def2 .title .tt{display: block;font-size: 24px;font-weight: bold;height: 34px;line-height: 34px;}
.p_u_def2 .title .tm{float: right; display:none;}
.p_u_def2 .content{padding: 10px 10px;width: 210px; color:#fff;}
.p_u_def2 .list{padding: 10px 10px;width: 210px;}
.p_u_def2 .list li{line-height: 30px; width: 210px;}
.p_u_def2 .list li a{display: block; overflow: hidden; text-overflow:ellipsis; white-space:nowrap; width: 210px; color:#fff;}

.p_u_def3{width:970px; margin-bottom:10px;}
.p_u_def3 .title{border-bottom: 1px solid #ededed;height: 30px;margin-top: 5px;overflow: hidden;}
.p_u_def3 .title .tt{color: #4f4f4f; float:left; font-size: 16px; font-weight:bold; line-height: 30px; padding-left:20px;}
.p_u_def3 .title .tm{float: right; color: #9d9c9c; line-height:30px; padding-right:20px;}
.p_u_def3 .content{ line-height: 25px; padding:10px 10px; width:950px;}
.p_u_def3 .list{ padding:10px 10px; width:950px; overflow:hidden;}
.p_u_def3 .list ul{ width:950px;}
.p_u_def3 .list li{float:left; display:inline; margin:0 23px 10px 23px; width:270px; }
.p_u_def3 .list li img{width:270px; height:200px;}
.p_u_def3 .list li a{display:block; width:270px;}
.p_u_def3 .list li span{text-align:center;display:block; height:30px; font-size:14px; line-height:30px; width:270px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}

.p_u_def4{width:970px; margin-top:10px;}
.p_u_def4 .title{border-bottom: 1px solid #ededed;height: 30px;margin-top: 5px;overflow: hidden;}
.p_u_def4 .title .tt{color: #4f4f4f; float:left; font-size: 16px; font-weight:bold; line-height: 30px; padding-left:20px;}
.p_u_def4 .title .tm{float: right; color: #9d9c9c; line-height:30px; padding-right:20px;}
.p_u_def4 .content{ line-height: 25px; padding:10px 10px; width:950px;}
.p_u_def4 .list{ padding:10px 10px; width:950px; overflow:hidden;}
.p_u_def4 .list ul{ width:950px;}
.p_u_def4 .list li{float:left; display:inline; margin:0 23px 10px 23px; width:270px; }
.p_u_def4 .list li img{width:270px; height:200px;}
.p_u_def4 .list li a{display:block; width:270px;}
.p_u_def4 .list li span{text-align:center;display:block; height:30px; font-size:14px; line-height:30px; width:270px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}


/* ---------------开始扩展区----------------- */

/* ---------------开始底部--------------- */
/*.footer{ text-align:center;}
.footer #com_othermenu{padding:15px 0 5px 0;}
.footer #com_copyright{padding:5px 0;}
.footer #com_webcounter{ padding-top:5px;}
/* ---------------结束底部--------------- */
