<!DOCTYPE html>
<html lang="en">
<head>
    <include file="../sz/view/head.html"></include>
    <style>
        a:hover{
            color:white;
        }
    </style>
</head>
<body>
<include file="../sz/view/header.html"></include>
<div class="pr_title">
    <strong> 当前位置 ：</strong><ins>
</ins><a href="/index/index/index"> 首页 </a>
    <a href="#">&gt;</a>
    <a id="position_nowtitle">制度解释/报名</a></div>
<div style="width: 86%;margin: 30px auto;border:1px solid #666">
{$data.content}
</div>


<!--<include file="../sz/view/foot.html"></include>-->


</body>
</html>