<!DOCTYPE html>
<html>
<head>
    <include file="../sz/view/head.html"></include>

    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<include file="../sz/view/header.html"></include>
<div id="ct" class="wp cl">
    <div id="chart" class="bm bw0 cl">
        <p class="chart z">今日: <em>1</em><span class="pipe">|</span>昨日: <em>8</em><span class="pipe">|</span>帖子: <em>890</em><span class="pipe">|</span>会员: <em>329</em><span class="pipe">|</span>欢迎新会员: <em><a href="home.php?mod=space&amp;username=cyz888" target="_blank" class="xi2">cyz888</a></em></p>
        <div class="y">
            <a href="" title="我的帖子" class="xi2">我的帖子</a>
            <span class="pipe">|</span>
            <a href="" title="最新回复" class="xi2">最新回复</a>
        </div>
    </div>
    <!--[diy=diy_chart]--><div id="diy_chart" class="area"></div><!--[/diy]-->
    <div class="mn">

        <!-- index four grid -->
        <div class="fl bm">
            <div class="bm bmw cl">
                <div id="category_grid" class="bm_c">
                    <table cellspacing="0" cellpadding="0"><tbody><tr>
                        <td valign="top" class="category_l1">
                            <div class="newimgbox">
                                <h4><span class="tit_newimg"></span>最新图片</h4>
                                <div class="module cl slidebox_grid" style="width:218px">
                                    <script type="text/javascript">
                                        var slideSpeed = 5000;
                                        var slideImgsize = [218,200];
                                        var slideBorderColor = '#C2D5E3';
                                        var slideBgColor = '#F2F2F2';
                                        var slideImgs = new Array();
                                        var slideImgLinks = new Array();
                                        var slideImgTexts = new Array();
                                        var slideSwitchColor = '#444';
                                        var slideSwitchbgColor = '#F2F2F2';
                                        var slideSwitchHiColor = '#C2D5E3';slideImgs[1] = '/Public/img/214153ky55g98o2nonq952.jpg';
                                        slideImgLinks[1] = 'forum.php?mod=viewthread&tid=10';
                                        slideImgTexts[1] = '恭喜交易员之家新论坛正式启用';slideImgs[2] = '/Public/img/103950xymq32m83i424k2m.png';
                                        slideImgLinks[2] = 'forum.php?mod=viewthread&tid=18';
                                        slideImgTexts[2] = '山东赵先生空为缘的初赛晋级曲线 ...';slideImgs[3] = '/Public/img/153202q99jlflrhjpfhjo0.png';
                                        slideImgLinks[3] = 'forum.php?mod=viewthread&tid=61';
                                        slideImgTexts[3] = '吉林艾先生复赛实盘权益曲线图（ ...';slideImgs[4] = '/Public/img/152203uxm7xtbzqkeczkzo.jpg';
                                        slideImgLinks[4] = 'forum.php?mod=viewthread&tid=62';
                                        slideImgTexts[4] = '。';slideImgs[5] = '/Public/img/094917sv47nu5h7p45u707.jpg';
                                        slideImgLinks[5] = 'forum.php?mod=viewthread&tid=247';
                                        slideImgTexts[5] = '欢迎关注之家的公众号（每天推送 ...';slideImgs[6] = '/Public/img/145011wixbit8rrvzsxvx1.jpg';
                                        slideImgLinks[6] = 'forum.php?mod=viewthread&tid=276';
                                        slideImgTexts[6] = '第一届“上塞杯”魔王争霸赛开锣 ...';</script>
                                    <script src="/Public/js/forum_slide.js?MeK" type="text/javascript"></script>
                                    <div class="slideouter" id="outer_0.9313109434563662" style="cursor:pointer;position:absolute;width:216px;height:198px;border:1px solid #C2D5E3"></div>
                                    <table cellspacing="0" cellpadding="0" style="cursor:pointer;width:218px;height:200px;table-layout:fixed;overflow:hidden;background:#F2F2F2;text-align:center">
                                        <tbody>
                                        <tr>
                                            <td valign="middle" style="padding:0" id="slide_0.9313109434563662">
                                                <img src="/Public/img/145011wixbit8rrvzsxvx1.jpg" height="200" width="677" title="第一届“上塞杯”魔王争霸赛开锣 ..."></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div id="switch_0.9313109434563662" style="position:absolute;margin-left:1px;margin-top:-18px">
                                        <div id="switch_1_0.9313109434563662" class="slideswitch" style="opacity: 0.7; float: left; cursor: pointer; width: 17px; height: 17px; overflow: hidden; font-weight: bold; text-align: center; font-size: 9px; color: rgb(68, 68, 68); border-right: 1px solid rgb(194, 213, 227); border-top: 1px solid rgb(194, 213, 227); background-color: rgb(242, 242, 242);">1</div>
                                        <div id="switch_2_0.9313109434563662" class="slideswitch" style="opacity: 0.7; float: left; cursor: pointer; width: 17px; height: 17px; overflow: hidden; font-weight: bold; text-align: center; font-size: 9px; color: rgb(68, 68, 68); border-right: 1px solid rgb(194, 213, 227); border-top: 1px solid rgb(194, 213, 227); background-color: rgb(242, 242, 242);">2</div>
                                        <div id="switch_3_0.9313109434563662" class="slideswitch" style="opacity: 0.7; float: left; cursor: pointer; width: 17px; height: 17px; overflow: hidden; font-weight: bold; text-align: center; font-size: 9px; color: rgb(68, 68, 68); border-right: 1px solid rgb(194, 213, 227); border-top: 1px solid rgb(194, 213, 227); background-color: rgb(242, 242, 242);">3</div>
                                        <div id="switch_4_0.9313109434563662" class="slideswitch" style="opacity: 0.7; float: left; cursor: pointer; width: 17px; height: 17px; overflow: hidden; font-weight: bold; text-align: center; font-size: 9px; color: rgb(68, 68, 68); border-right: 1px solid rgb(194, 213, 227); border-top: 1px solid rgb(194, 213, 227); background-color: rgb(242, 242, 242);">4</div>
                                        <div id="switch_5_0.9313109434563662" class="slideswitch" style="opacity: 0.7; float: left; cursor: pointer; width: 17px; height: 17px; overflow: hidden; font-weight: bold; text-align: center; font-size: 9px; color: rgb(68, 68, 68); border-right: 1px solid rgb(194, 213, 227); border-top: 1px solid rgb(194, 213, 227); background-color: rgb(242, 242, 242);">5</div>
                                        <div id="switch_6_0.9313109434563662" class="slideswitch" style="opacity: 0.7; float: left; cursor: pointer; width: 17px; height: 17px; overflow: hidden; font-weight: bold; text-align: center; font-size: 9px; color: rgb(68, 68, 68); border-right: 1px solid rgb(194, 213, 227); border-top: 1px solid rgb(194, 213, 227); background-color: rgb(194, 213, 227);">6</div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td valign="top" class="category_l2">
                            <div class="subjectbox">
                                <h4><span class="tit_subject"></span>最新主题</h4>
                                <ul class="category_newlist">
                           <foreach name="data" item="v">
                            <li><a href="/=" target="_self" >{$v.forum_description}</a></li>
                           </foreach>
                                </ul>
                            </div>
                        </td>
                        <td valign="top" class="category_l3">
                            <div class="replaybox">
                                <h4><span class="tit_replay"></span>最新回复</h4>
                                <ul class="category_newlist">
                                    <li><a href="forum.php?mod=redirect&amp;tid=275&amp;goto=lastpost#lastpost" style="font-weight: bold;color: #2B65B7" tip="标题: <strong>坚持：二千越甲可吞吴（VIP记录）</strong><br/>作者: 坚持 (<span title='2018-3-23'>4&nbsp;天前</span>)<br/>查看/回复: 29/7" onmouseover="showTip(this)" target="_blank">坚持：二千越甲可吞吴（VIP记录 ...</a></li>
                                    <li><a href="forum.php?mod=redirect&amp;tid=276&amp;goto=lastpost#lastpost" style="font-weight: bold;color: #EE1B2E" tip="标题: <strong>第一届“上塞杯”魔王争霸赛开锣喽！！！！</strong><br/>作者: 运营部 (<span title='2018-3-26'>昨天&nbsp;14:50</span>)<br/>查看/回复: 9/2" onmouseover="showTip(this)" target="_blank">第一届“上塞杯”魔王争霸赛开锣 ...</a></li>
                                    <li><a href="forum.php?mod=redirect&amp;tid=274&amp;goto=lastpost#lastpost" tip="标题: <strong>关于山西奚先生（姬乙丑）晋级复赛实盘的公告 （2018.03.08）</strong><br/>作者: 运营部 (2018-3-8)<br/>查看/回复: 70/2" onmouseover="showTip(this)" target="_blank">关于山西奚先生（姬乙丑）晋级复 ...</a></li>
                                    <li><a href="forum.php?mod=redirect&amp;tid=271&amp;goto=lastpost#lastpost" tip="标题: <strong>朋友相聚，问你贵干？憋了半天不敢说你是干期期货的</strong><br/>作者: 荣耀人生 (2018-3-6)<br/>查看/回复: 40/2" onmouseover="showTip(this)" target="_blank">朋友相聚，问你贵干？憋了半天不 ...</a></li>
                                    <li><a href="forum.php?mod=redirect&amp;tid=260&amp;goto=lastpost#lastpost" tip="标题: <strong>观察了好久</strong><br/>作者: 交易为生 (2018-3-5)<br/>查看/回复: 56/1" onmouseover="showTip(this)" target="_blank">观察了好久</a></li>
                                    <li><a href="forum.php?mod=redirect&amp;tid=19&amp;goto=lastpost#lastpost" style="font-weight: bold;color: #EE1B2E" tip="标题: <strong>交易员之家积分兑换规则</strong><br/>作者: 运营部 (2017-9-18)<br/>查看/回复: 432/10" onmouseover="showTip(this)" target="_blank">交易员之家积分兑换规则</a></li>
                                    <li><a href="forum.php?mod=redirect&amp;tid=272&amp;goto=lastpost#lastpost" tip="标题: <strong>越是复杂的方法就越偏离交易的本质</strong><br/>作者: 蒲公英 (2018-3-7)<br/>查看/回复: 48/2" onmouseover="showTip(this)" target="_blank">越是复杂的方法就越偏离交易的本 ...</a></li>
                                    <li><a href="forum.php?mod=redirect&amp;tid=243&amp;goto=lastpost#lastpost" tip="标题: <strong>没有点成绩不敢发帖啊</strong><br/>作者: 荣耀人生 (2018-2-1)<br/>查看/回复: 64/4" onmouseover="showTip(this)" target="_blank">没有点成绩不敢发帖啊</a></li>
                                    <li><a href="forum.php?mod=redirect&amp;tid=241&amp;goto=lastpost#lastpost" tip="标题: <strong>将以交易为生进行到底！</strong><br/>作者: 了凡 (2018-1-25)<br/>查看/回复: 74/2" onmouseover="showTip(this)" target="_blank" id="tip_0.8284273691709676" initialized="true">将以交易为生进行到底！</a></li>
                                    <li><a href="forum.php?mod=redirect&amp;tid=96&amp;goto=lastpost#lastpost" style="font-weight: bold;color: #EE5023" tip="标题: <strong>树立行业标杆，引领行业发展</strong><br/>作者: 风景 (2017-11-20)<br/>查看/回复: 342/13" onmouseover="showTip(this)" target="_blank" id="tip_0.15976766512175966" initialized="true">树立行业标杆，引领行业发展</a></li>
                                </ul>
                            </div>
                        </td>
                        <td valign="top" class="category_l3">
                            <div class="hottiebox">
                                <h4><span class="tit_hottie"></span>热帖</h4>
                                <ul class="category_newlist">
                                    <li><a href="forum.php?mod=viewthread&amp;tid=275&amp;extra=" style="font-weight: bold;color: #2B65B7" tip="标题: <strong>坚持：二千越甲可吞吴（VIP记录）</strong><br/>作者: 坚持 (<span title='2018-3-23'>4&nbsp;天前</span>)<br/>查看/回复: 29/7" onmouseover="showTip(this)" target="_blank" id="tip_0.4732505582325266" initialized="true">坚持：二千越甲可吞吴（VIP记录 ...</a></li>
                                    <li><a href="forum.php?mod=viewthread&amp;tid=19&amp;extra=" style="font-weight: bold;color: #EE1B2E" tip="标题: <strong>交易员之家积分兑换规则</strong><br/>作者: 运营部 (2017-9-18)<br/>查看/回复: 432/10" onmouseover="showTip(this)" target="_blank" id="tip_0.046660236679290534" initialized="true">交易员之家积分兑换规则</a></li>
                                    <li><a href="forum.php?mod=viewthread&amp;tid=96&amp;extra=" style="font-weight: bold;color: #EE5023" tip="标题: <strong>树立行业标杆，引领行业发展</strong><br/>作者: 风景 (2017-11-20)<br/>查看/回复: 342/13" onmouseover="showTip(this)" target="_blank">树立行业标杆，引领行业发展</a></li>
                                    <li><a href="forum.php?mod=viewthread&amp;tid=235&amp;extra=" tip="标题: <strong>期货，如何做好呢？！！！！！！！！！</strong><br/>作者: 空为缘 (2018-1-16)<br/>查看/回复: 72/4" onmouseover="showTip(this)" target="_blank">期货，如何做好呢？！！！！！！ ...</a></li>
                                    <li><a href="forum.php?mod=viewthread&amp;tid=16&amp;extra=" style="color: #EE5023" tip="标题: <strong>真假实盘的优劣对比，广大选手需谨慎啊***********</strong><br/>作者: 飞龙在天 (2017-9-17)<br/>查看/回复: 519/14" onmouseover="showTip(this)" target="_blank" id="tip_0.35947832804452573" initialized="true">真假实盘的优劣对比，广大选手需 ...</a></li>
                                    <li><a href="forum.php?mod=viewthread&amp;tid=20&amp;extra=" style="color: #EE5023" tip="标题: <strong>假如把魔界比作快递公司，大家来看看</strong><br/>作者: 心门大弟子 (2017-9-19)<br/>查看/回复: 338/17" onmouseover="showTip(this)" target="_blank">假如把魔界比作快递公司，大家来 ...</a></li>
                                    <li><a href="forum.php?mod=viewthread&amp;tid=237&amp;extra=" tip="标题: <strong>佛学与投资交易~~~~~~~~~</strong><br/>作者: 了凡 (2018-1-17)<br/>查看/回复: 55/3" onmouseover="showTip(this)" target="_blank">佛学与投资交易~~~~~~~~~</a></li>
                                    <li><a href="forum.php?mod=viewthread&amp;tid=12&amp;extra=" style="font-weight: bold;text-decoration: underline;color: #2B65B7" tip="标题: <strong>风景寄语——致广大魔友的一封信</strong><br/>作者: 风景 (2017-9-17)<br/>查看/回复: 806/21" onmouseover="showTip(this)" target="_blank">风景寄语——致广大魔友的一封信</a></li>
                                    <li><a href="forum.php?mod=viewthread&amp;tid=21&amp;extra=" tip="标题: <strong>听说之家很靠谱，以后就在这里磨炼、生根、发芽、成长。</strong><br/>作者: 白展堂 (2017-9-19)<br/>查看/回复: 337/13" onmouseover="showTip(this)" target="_blank">听说之家很靠谱，以后就在这里磨 ...</a></li>
                                    <li><a href="forum.php?mod=viewthread&amp;tid=5&amp;extra=" style="font-weight: bold;color: #EE1B2E" tip="标题: <strong>我的一些心得（心师发表于交易员之家旧论坛）</strong><br/>作者: 心门大弟子 (2017-9-16)<br/>查看/回复: 602/13" onmouseover="showTip(this)" target="_blank" id="tip_0.9666548215789483" initialized="true">我的一些心得（心师发表于交易员 ...</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr></tbody></table>
                </div>
            </div>
        </div>
        <!-- index four grid end -->

        <div class="fl bm">
            <div class="bm bmw  cl">
                <div class="bm_h cl">
<span class="o">
<img id="category_1_img" src="/Public/img/collapsed_no.gif" title="收起/展开" alt="收起/展开" onclick="toggle_collapse('category_1');">
</span>
                    <h2><a href="forum.php?gid=1" style="">Discuz!</a></h2>
                </div>
                <div id="category_1" class="bm_c" style="">
                    <table cellspacing="0" cellpadding="0" class="fl_tb">
                        <tbody><tr><td class="fl_icn" style="width: 100px;">
                            <a href="forum.php?mod=forumdisplay&amp;fid=2"><img src="/Public/img/common_2_icon.jpg" align="left" alt=""></a></td>
                            <td>
                                <h2><a href="forum.php?mod=forumdisplay&amp;fid=2" style="color: #FF0000;">比赛灌水区</a><em class="xw0 xi1" title="今日"> (1)</em></h2>
                                <p class="xg2">这里高手如云，亏货如群！<br>
                                    约吗？不服吗？不爽吗？一起战吧！</p><p>版主: <span class="xi2"><a href="home.php?mod=space&amp;username=%BC%E1%B3%D6" class="notabs" c="1" mid="card_3321">坚持</a></span></p></td>
                            <td class="fl_i">
                                <span class="xi2">136</span><span class="xg1"> / 811</span></td>
                            <td class="fl_by">
                                <div>
                                    <a href="forum.php?mod=redirect&amp;tid=275&amp;goto=lastpost#lastpost" class="xi2">坚持：二千越甲可吞吴（VIP记录 ...</a> <cite><span title="2018-3-27 00:54">8&nbsp;小时前</span> <a href="home.php?mod=space&amp;username=%BC%E1%B3%D6">坚持</a></cite>
                                </div>
                            </td>
                        </tr>
                        <tr class="fl_row">
                            <td class="fl_icn" style="width: 100px;">
                                <a href="forum.php?mod=forumdisplay&amp;fid=36"><img src="/Public/img/common_36_icon.jpg" align="left" alt=""></a></td>
                            <td>
                                <h2><a href="forum.php?mod=forumdisplay&amp;fid=36" style="color: #FF0000;">技术交流区</a></h2>
                                <p class="xg2">江恩、约翰墨菲、巴菲特、索罗斯....<br>
                                    其实不如你，你就是大神！</p></td>
                            <td class="fl_i">
                                <span class="xi2">12</span><span class="xg1"> / 62</span></td>
                            <td class="fl_by">
                                <div>
                                    <a href="forum.php?mod=redirect&amp;tid=79&amp;goto=lastpost#lastpost" class="xi2">转帖】 交易心理训练奇文------- ...</a> <cite>2017-11-14 14:56 <a href="home.php?mod=space&amp;username=%CB%B3%B7%E7%CB%B3%CB%AE">顺风顺水</a></cite>
                                </div>
                            </td>
                        </tr>
                        <tr class="fl_row">
                            <td class="fl_icn" style="width: 100px;">
                                <a href="forum.php?mod=forumdisplay&amp;fid=38"><img src="/Public/img/common_38_icon.jpg" align="left" alt=""></a></td>
                            <td>
                                <h2><a href="forum.php?mod=forumdisplay&amp;fid=38" style="color: #FF0000;">外盘交流区</a></h2>
                                <p class="xg2">全真实盘，100%进交易所撮合交易，香港期货公司实名开户！</p></td>
                            <td class="fl_i">
                                <span class="xi2">4</span><span class="xg1"> / 8</span></td>
                            <td class="fl_by">
                                <div>
                                    <a href="forum.php?mod=redirect&amp;tid=208&amp;goto=lastpost#lastpost" class="xi2">rudolf stark平台怎么样？，能不 ...</a> <cite>2018-1-11 10:03 <a href="home.php?mod=space&amp;username=%BC%E1%B3%D6">坚持</a></cite>
                                </div>
                            </td>
                        </tr>
                        <tr class="fl_row">
                            <td class="fl_icn" style="width: 100px;">
                                <a href="forum.php?mod=forumdisplay&amp;fid=37"><img src="/Public/img/common_37_icon.png" align="left" alt=""></a></td>
                            <td>
                                <h2><a href="forum.php?mod=forumdisplay&amp;fid=37" style="color: #FF0000;">建议提交区</a></h2>
                                <p class="xg2">你得行使你的权利，任何意见都可以提<br>
                                    虽然我知道你的意见很少被采纳！</p></td>
                            <td class="fl_i">
                                <span class="xi2">2</span><span class="xg1"> / 9</span></td>
                            <td class="fl_by">
                                <div>
                                    <a href="forum.php?mod=redirect&amp;tid=195&amp;goto=lastpost#lastpost" class="xi2">硅铁1805应该早就应该可以交易了 ...</a> <cite>2018-1-9 09:25 <a href="home.php?mod=space&amp;username=%BC%E1%B3%D6">坚持</a></cite>
                                </div>
                            </td>
                        </tr>
                        <tr class="fl_row">
                        </tr>
                        </tbody></table>
                </div>
            </div>
        </div>

        <div class="wp mtn">
            <!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
        </div>

        <div id="online" class="bm oll">
            <div class="bm_h">
                <span class="o"><a href="forum.php?showoldetails=no#online" title="收起/展开"><img src="/Public/img/collapsed_no.gif" alt="收起/展开"></a></span>
                <h3>
                    <strong><a href="home.php?mod=space&amp;do=friend&amp;view=online&amp;type=member">在线会员</a></strong>
                    <span class="xs1">- <strong>5</strong> 人在线
- <strong>1</strong> 会员(<strong>0</strong> 隐身),
<strong>4</strong> 位游客
- 最高记录是 <strong>107</strong> 于 <strong>2018-2-8</strong>.</span>
                </h3>
            </div>
            <dl id="onlinelist" class="bm_c">
                <dt class="ptm pbm bbda"><img src="/Public/img/online_admin.gif"> 管理员 &nbsp; &nbsp; &nbsp; <img src="/Public/img/online_supermod.gif"> 超级版主 &nbsp; &nbsp; &nbsp; <img src="/Public/img/online_moderator.gif"> 版主 &nbsp; &nbsp; &nbsp; <img src="/Public/img/online_member.gif"> 会员 &nbsp; &nbsp; &nbsp; </dt>
                <dd class="ptm pbm">
                    <ul class="cl">
                        <li title="时间: 09:33">
                            <img src="/Public/img/online_member.gif" alt="icon">
                            <a href="home.php?mod=space&amp;uid=332">cyz888</a>
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>

    </div>

</div>
<textarea class="layui-textarea" id="LAY_demo1" style="display: none">
  把编辑器的初始内容放在这textarea即可
</textarea>


<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use('layedit', function(){
        var layedit = layui.layedit
            ,$ = layui.jquery;

        //构建一个默认的编辑器
        var index = layedit.build('LAY_demo1');

        //编辑器外部操作
        var active = {
            content: function(){
                alert(layedit.getContent(index)); //获取编辑器内容
            }
            ,text: function(){
                alert(layedit.getText(index)); //获取编辑器纯文本内容
            }
            ,selection: function(){
                alert(layedit.getSelection(index));
            }
        };

        $('.site-demo-layedit').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //自定义工具栏
        layedit.build('LAY_demo2', {
            tool: ['face', 'link', 'unlink', '|', 'left', 'center', 'right']
            ,height: 100
        })
    });
</script>

</body>
</html>
