<div class="footer wow bounceInUp animated animated" data-wow-duration=".5s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.2s; animation-name: bounceInUp;position: absolute;bottom: 0">
    <div class="footer_box01">
        <div class="flink" id="com_indexistop_alinks" editok="online">
            <h3> 友情链接 </h3>
            <div class="flink_l">
                <div class="flink_ll">
                    <div class="rol">
                        <a href="javascript:;" id="btn_focus_next1">
                        </a>
                    </div>
                    <div class="flink_ll clearfix" id="Agentslist1">
                        <ul>

                            <li>
                                <a href="http://www.qq.com/" target="_blank">
                                    <img src="http://picture.no3.mfdns.com/upload/cases/jr839/l04.jpg" alt="腾讯">
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="ror">
                        <a href="javascript:;" id="btn_focus_prev1">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_box02" style="display: none">
        <div class="footer_nav" id="com_othermenu" editok="online">
            <a href="/index/index/index" class="othermenu_a">首页</a>
            <a href="/index/index/rule" class="othermenu_a">活动规则</a>
            <a href="" class="othermenu_a">活动报名/注册</a>
            <a href="/index/index/down" class="othermenu_a">软件下载</a>
            <a href="/index/index/help" class="othermenu_a">常见问题</a>
            <a href="" class="othermenu_a" target="_blank">All-Link</a>
        </div>
        <div class="copyright" id="com_copyright" editok="online"><div>版权所有 Copyright@ 2017 盈透锐新（厦门）网络科技有限公司<br>联系人：许先生 &nbsp;<br>固话：{$Think.config.FENGKONG_PHONE} &nbsp;传真：{$Think.config.FENGKONG_PHONE}<br>地址：{$Think.config.ADDRESS}</div><script type="text/javascript" language="javascript"></script>
        </div>
        <div class="jsq" id="com_webcounter" editok="online">
<span id="com_webcounter" editok="online">
		</span>
        </div>
        <div class="f_right">
            <div class="fsearch">
                <form id="productSearch" name="productSearch" action="/cn/products.htm" method="get">
                    <input type="hidden" id="action" name="action" value="search">
                    <ul>
                        <li><input type="text" id="keywords" name="keywords" class="fs_int" title="输入您想找的关键字或词..." value=""></li>
                        <li><input type="submit" align="middle" value="" class="fs_btn" title="输入您想找的关键字或词..."></li>
                    </ul>
                </form>
            </div>
            <div class="clear">
            </div>
            <div class="fshare" id="com_singles_fshare" editok="online">
                <div class="fshare_t">分享到：</div>
                <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1520835653309"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a></div>
                <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
