<!DOCTYPE html>
<html>
<head>
<include file="../sz/view/adminhead.html"/>
</head>
<body>
	<div id="right">
		<div class="right_nav">风险提示</div>
		<div class="right_content">
			<table class="table_a" border="1">
                <thead>
					<tr style="font-weight: bold;">
						<td width="10%">序号</td>
                        <td width="40%">标题</td>
                        <td width="30%">最后修改时间</td>
                        <td width="20%" align="center" colspan="2">操作</td>
                    </tr>
				</thead>
				<tbody>
				<foreach name='about_list' item='v'>
					<tr class="tbody_a">
						<td class="">{$v.serial}</td>
						<td class="">{$v.title}</td>
						<td class="">{$v.date}</td>
						<td><a href="/{$Request.module}/{$Request.controller}/update_rule/id/{$v.id}" class="updel_a href_a update_about">修改</a></td>
						<td><a  href="/{$Request.module}/{$Request.controller}/yt_rule/delete/{$v.id}"  data="{$v.id}" class="updel_a delete_a delete_about">删除</a></td>
					</tr>
				</foreach>
				</tbody>
				<tfoot>
                    <tr>
                        <td colspan="30">
							<a href="/{$Request.module}/{$Request.controller}/add_rule" class="add_btn">增加</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
		</div>
	</div>
</body>
</html>