<!DOCTYPE html>
<html>
<head>
	<include file="../sz/view/adminhead.html"/>
	<script>
        var appUrl="__APP__";
	</script>
</head>
<body>
<div id="right">
	<div class="right_nav"><a href="/{$Request.module}/{$Request.controller}/yt_download">【返回列表】</a></div>
	<div class="right_content">
		<form action="/{$Request.module}/{$Request.controller}/update_download/update/{$info.id}" method="post" enctype="multipart/form-data">
			<p>名　称：　<input type="text" name="name" autocomplete="off" class="text name" value="{$info.name}"></p>
			<p>类　型　选　择：　
				<select name="type" class="select_option">
					<if condition="$info.type eq 1 ">
						<option value="0" selected="selected">PC</option>
						<else />
						<option value="0">PC</option>
					</if>

					<if condition="$info.type eq 1 ">
						<option value="1" selected="selected">手机</option>
						<else />
						<option value="1">手机</option>
					</if>



				</select>
			</p>
			<p>U&nbsp;R&nbsp;L：　<input type="text" name="url" autocomplete="off" class="text name" value="{$info.url}">

			<span>新文件：　<input type="file" name="files" id="imageuploads"><span><button type="button" id="clearFiles">清空选择</button>（未选择文件则保持原文件）</span></span>


			</p>
			<p>新文件：　<input type="file" name="file" id="imageupload"><span><button type="button" id="clearFile">清空选择</button>（未选择文件则保持原文件）</span></p>
			<button type="submit" class="sub" >修改</button><a href="/{$Request.module}/{$Request.controller}/yt_download" class="back_a" >返回</a>
		</form>
	</div>
</div>
<script>
	$(function () {
		$('#confirm').on('click',function () {
			alert(1);
        })
    })
</script>
</body>
</html>